// Utils
@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.advantages {
    font-family: "Poppins";
    margin-block: 60px;

    @media (max-width: vars.$lg) {
        margin-block: 32px;
    }

    &__container {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 30px;

        @media (max-width: vars.$lg) {
            flex-direction: column;
        }

        &__left,
        &__right {
            display: flex;
            flex-direction: column;
            width: 50%;

            @media (max-width: vars.$lg) {
                width: 100%;
            }
        }

        &__title {
            font-size: 32px;
            font-weight: 400;
            line-height: 40px;
            letter-spacing: -0.64px;
            color: var(--clr-white);
        }

        &__list {
            margin-top: 48px;
            display: flex;
            flex-direction: column;
            gap: 16px;

            &__item {
                color: #98A2B3;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                display: flex;
                align-items: flex-start;
                gap: 12px;
            }
        }
    }
}