// Utils
@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.benefits-visual {
  font-family: 'Poppins';
  margin-block: 60px;

  &__container {
    display: flex;
    flex-wrap: wrap;

    &__item {
      display: flex;
      width: 100%;
      gap: 64px;

      @media (max-width: vars.$lg) {
        flex-direction: column;
      }

      &:where(:not(:last-of-type)) {
        margin-bottom: 60px;
      }

      &-picture,
      &-content {
        width: 50%;

        @media (max-width: vars.$lg) {
          width: 100%;
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;

        &__title {
          color: #f2f4f7;
          font-size: 36px;
          font-weight: 400;
          line-height: 46px;
          letter-spacing: -0.36px;

          @media (max-width: vars.$lg) {
            font-size: 28px;
            line-height: 36px;
            letter-spacing: -0.56px;
          }
        }

        &__desc {
          color: #bababb;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;

          @media (max-width: vars.$lg) {
            font-size: 16px;
          }
        }
      }
    }
  }

  &__btn {
    display: flex;
    width: 170px;
    margin-top: 16px;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--main, #6ceabd);
  }
}
