// Utils
@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;


.catalogue {
    font-family: "Poppins";
    margin-block: 60px;

    &__heading {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    &__container {

        &__title {
            width: 768px;
            text-align: center;
            color: var(--clr-white);
            font-size: 36px;
            font-weight: 400;
            line-height: 46px;
            letter-spacing: -0.36px;
            margin-bottom: 64px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: space-between;

            &__item {
                width: 410px;
                border: 1px solid #3F4146;
                border-radius: 20px;

                &-picture {
                    background: linear-gradient(0deg, #19191C 0%, #19191C 100%), radial-gradient(128.11% 128.11% at 50.00% -32.40%, #6CEABD 0%, rgba(108, 234, 189, 0.36) 43.11%, rgba(108, 234, 189, 0.00) 100%), rgba(108, 234, 189, 0.10);
                    display: flex;
                    justify-content: center;
                    border-radius: 20px;

                    &>img {
                        padding-block: 107px 95px;
                    }
                }

                &__content {
                    padding: 16px;
                    background-color: var(--clr-accent);
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                }

                &-title {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    margin-top: 20px;
                    color: var(--clr-dark);
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 32px;
                    letter-spacing: -0.5px;
                }

                &-price {
                    color: var(--clr-dark);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-top: 12px;
                }
            }
        }
    }

    &__link {
        width: 32px;
        height: 32px;
        fill: var(--clr-dark);
    }

    &__more {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 64px;

        &__products {
            height: 60px;
            color: var(--clr-accent);
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            padding: 8px 20px;
            border: 1px solid var(--clr-accent);
            border-radius: 12px;
        }
    }
}