@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;
@use '../utils/functions' as fn;

.header-1-4 {
  position: relative;
  z-index: 20;
  background-color: var(--clr-dark);
  font-family: "Poppins";

  &__nav-item {
    color: var(--clr-light);
    font-weight: 400;
  }

  &__inner {

    display: flex;
    align-items: center;
    height: 80px;
    background: var(--white);

    @media (max-width: vars.$lg) {
      height: 72px;
    }
  }

  &__container {
    display: flex;
    align-items: center;

    @media (min-width: vars.$lg) and (max-width: vars.$xl) {
      gap: 24px;
    }
  }

  &__logo {
    display: inline-flex;
    flex: none;
    height: minmax(32px, 36px);

    @media (max-width: vars.$lg) {
      margin-right: auto;
    }
  }

  &__nav {
    margin-left: 48px;

    @media (max-width: vars.$xl) {
      margin-left: 0px;
      font-size: 14px;
    }

    &-list {
      display: flex;
      gap: 30px;
      align-items: center;

      @media (max-width: vars.$xxl) {
        gap: 15px;
      }

      @media (max-width: vars.$xl) {
        gap: 10px;
      }
    }

    @media (max-width: vars.$lg) {
      display: none;
    }

    &-item {
      position: relative;

      &__link {

        &__mobile {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-block: 20px;
          color: var(--clr-white);
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.16px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.12);
        }
      }

      &__popup__content {
        display: none;
        position: absolute;
        width: 125px;
        top: 150%;
        background-color: transparent;
        border: 1px solid var(--clr-light);
        border-radius: 12px;
        padding: 16px;
      }

      &__popup__list {
        display: flex;
        flex-direction: column;
        gap: 12px;

        &>li>a {
          &:hover {
            color: var(--clr-white);
          }
        }
      }
    }

    &-inner {

      &__container {
        overflow-y: auto;
        margin-block: 16px;
      }

      &__product {
        display: none;
        overflow-y: auto;
        flex-direction: column;
        margin-top: 16px;
      }

      &__industry {
        display: none;
        overflow-y: auto;
        flex-direction: column;
        margin-top: 16px;
      }

      &__news {
        display: none;
        overflow-y: auto;
        flex-direction: column;
        margin-top: 16px;
      }

    }
  }

  &__right {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
  }

  &__contacts {
    display: flex;
    gap: 8px;

    &-mobile {
      display: none;
      margin-left: 16px;

      @media (max-width: vars.$xl) {
        display: flex;
        gap: 8px;
      }

      &__button {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 1px solid var(--clr-accent);

        &>svg {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &-communication {
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @media (max-width: vars.$xl) {
        display: none;
      }
    }

    &-lang {
      position: relative;
      padding: 12px;
      color: var(--clr-white);
      font-weight: 500;
      border: 1px solid var(--clr-light);
      border-radius: 50%;

      &__dropdown {
        display: none;
        position: absolute;
        content: "";
        flex-direction: column;
        gap: 12px;
        padding: 16px 12px;
        border: 1px solid var(--clr-light);
        border-radius: 23px;
        left: 0;
        bottom: -85px;
        background-color: transparent;
      }
    }

    &-info {
      color: var(--clr-white);
    }

    &-btn {
      color: var(--clr-dark);
      background-color: var(--clr-accent);
      border-radius: 20px;
      padding: 8px 30px;

      @media (max-width: vars.$xl) {
        padding: 8px 10px;
      }

      svg {
        @media (min-width: vars.$min-lg) {
          display: none;
        }
      }

      &_mobile {
        @media (min-width: vars.$min-lg) {
          display: none;
        }
      }
    }

    @media (max-width: vars.$lg) {
      display: none;
    }
  }
}

// BURGER MENU

.menu {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;

  @media (min-width: vars.$lg) {
    display: none;
  }

  &__back {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
    color: var(--clr-white);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.14px;
  }

  &__container {

    &__inner {
      display: flex;
      flex-direction: column;
      height: 89dvh;
      height: 89vh;
    }
  }

  &__nav {
    padding-block: 24px;
    display: flex;
    flex-direction: column;

    &-item {
      display: flex;
      justify-content: space-between;
      color: var(--clr-white);
      font-weight: 400;
      padding-block: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    }

    &-link {
      &:hover {
        color: var(--clr-white);
      }
    }

    &-btn {
      transform: rotate(-90deg);
    }
  }

  &__content {
    display: none;
    position: absolute;
    top: 73px;
    left: 0px;
    right: 0px;
    background-color: var(--clr-dark);
    border-bottom: 1px solid var(--clr-light);
  }

  &__more {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;

    &-item {
      &:hover {
        color: var(--clr-white);
      }
    }

    &-link {
      color: var(--clr-light);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.16px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-top: auto;

    &__lang {
      display: flex;
      gap: 10px;
    }

    &__config {
      &>button {
        display: flex;
        width: 200px;
        padding: 8px 20px;
        justify-content: center;
        align-items: center;
        border-radius: 24px;
        color: var(--clr-dark);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.16px;
      }
    }
  }

  &__acc {
    &__trigger {
      width: 16px;
      height: 16px;
    }
  }
}

.header-language {
  color: #7C7D84;
  font-size: 16px;
  font-family: Poppins;
  line-height: 16px;
  letter-spacing: 0.16px;

  &:hover {
    color: var(--clr-white);
  }
}

// HEADER ACCORDION

.header-acc {

  &__head {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    &:hover {
      color: var(--clr-white);
    }
  }

  &__body {

    &-closed {
      display: none;
    }
  }

  &__title {
    width: 100%;
    color: var(--clr-white);
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }

  &__content {
    color: var(--clr-light);

    &__desc {
      padding-top: 16px;
    }
  }

  &__trigger {

    &>svg {
      width: 20px;
      height: 20px;
      color: var(--clr-light);
    }
  }
}