// Utils
@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.lens {
  font-family: 'Poppins';
  margin-block: 100px 60px;

  @media (max-width: vars.$lg) {
    margin-block: 32px;
  }

  &__container {
    &__item {
      display: flex;
      flex-direction: row;
      gap: 30px;

      @media (max-width: vars.$lg) {
        flex-direction: column;
        gap: 24px;
      }

      &-picture,
      &-content {
        width: 50%;

        @media (max-width: vars.$lg) {
          width: 100%;
        }
      }

      &-content {
        color: var(--clr-white);

        &__info {
          &__name {
            color: var(--clr-accent);
            font-size: 48px;
            font-weight: 400;
            line-height: 60px;
            letter-spacing: -0.48px;
          }

          &__price {
            color: var(--clr-white);
            font-size: 32px;
            font-weight: 400;
            line-height: 40px;
            letter-spacing: -0.64px;
          }

          &__tags {
            & > span {
              @media (max-width: vars.$lg) {
                margin-bottom: 0;
              }
            }

            @media (max-width: vars.$lg) {
              margin-top: 16px;
            }
          }

          &__actions {
            display: flex;
            align-items: center;
            gap: 28px;
            margin-block: 48px;

            @media (max-width: vars.$lg) {
              margin-block: 24px;
            }

            @media (max-width: vars.$sm) {
              flex-direction: column;
            }

            & > button:first-of-type {
              padding: 14px 24px;
              border-radius: 10px;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
            }

            & > button {
              @media (max-width: vars.$sm) {
                width: 100%;
              }
            }
          }

          &__diameter {
            margin-bottom: 48px;

            &-title {
              color: #bababb;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
            }

            &__items {
              display: flex;
              gap: 12px;
              margin-top: 16px;

              &__item {
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                border: 1px solid var(--clr-accent);
                border-radius: 20px;
                padding: 6px 12px;
                margin-bottom: 14px;
              }
            }
          }

          &__palette {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 16px 30px 30px 30px;
            border-radius: 20px;
            color: var(--text, #BABABB);
            width: max-content;


            &-title {
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
            }

            &-tabs {
              display: flex;
              gap: 4px;
              border-radius: 30px;
              background: rgba(255, 255, 255, 0.10);
              width: fit-content;
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
              padding: 2px;

              & > button {
                padding: 4px 20px;
                border-radius: 24px;
              }

              &__item {
                color: rgba(255, 255, 255, 0.40);
              }

              &__item--active {
                color: var(--text, #BABABB);
                border-radius: 24px;
                background: var(--bg, #1A1B1F);
                padding: 4px 20px;
              }

            }

            &-colors {
              display: grid;
              grid-template-columns: repeat(5, 1fr);
              gap: 12px;
              width: max-content;

              &__item {
                width: 84px;
                height: 84px;
                background: #990001;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                line-height: 20px;
                color: #fff;

                &:nth-child(7),
                &:nth-child(8),
                &:nth-child(10),
                &:nth-child(12),
                &:nth-child(13),
                &:nth-child(14),
                &:nth-child(17) {
                  color: #000;
                }
                &--title {
                  font-size: 16px;
                }
              }
              &__item-empty {
                width: 84px;
                height: 84px;
                background: transparent;
                border-radius: 50%;
              }
            }
          }

          &__desc {
            margin-top: 48px;

            & > p {
              font-size: 16px;
              line-height: 24px;
            }

            &-title {
              color: var(--text, #BABABB);
              padding-bottom: 24px;
              border-bottom: 1px solid rgba(255, 255, 255, 0.30);
              margin-bottom: 24px;
            }
          }
        }
      }
    }
  }

  &__spec {
    &-name {
      color: #bababb;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    &-value {
      color: var(--clr-white);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}

.more-info {
  &__acc {
    &__item {
      display: flex;
      flex-wrap: wrap;
    }

    &__content {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-top: 16px;
    }

    &__title {
      color: #bababb;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    &__body {
      width: 100%;

      &-closed {
        display: none;
      }
    }
  }

  &__trigger {
    width: 24px;
    height: 24px;
    text-align: center;

    & > svg {
      color: var(--clr-white);
    }
  }
}

.lens-disclaimer {
  display: flex;
  align-items: center;
  width: 225px;
  gap: 8px;
  color: var(--clr-accent);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 20px;

  @media (max-width: vars.$sm) {
    justify-content: flex-start;
    width: 100%;
  }
}
