// Utils
@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.portfolio {
    font-family: "Poppins";
    margin-block: 60px;

    @media (max-width: vars.$md) {
        margin-block: 32px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__nav {
            display: flex;
            width: 100%;
            gap: 40px;
            justify-content: flex-start;
            margin-bottom: 40px;

            &__item {
                color: var(--clr-white);
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                padding: 8px 16px;
                border-radius: 20px;
                cursor: pointer;

                &:hover {
                    color: var(--clr-light);
                }

                &.tab-active {
                    color: var(--clr-light);
                    background-color: var(--clr-white);
                }
            }
        }

        &__title {
            width: 100%;
            color: var(--neutral-100, #F2F4F7);
            font-size: 48px;
            font-weight: 400;
            line-height: 60px;
            letter-spacing: -0.48px;
            text-align: left;
            margin-bottom: 64px;
        }

        &__items {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;

            &__item {
                width: 31%;
                height: 100%;

                &-content {
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;
                }

                &-text-block {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }
            }
        }
    }

    &__text-block {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media (max-width: vars.$sm) {
            align-self: flex-start;
            text-align: left;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 36px;
        line-height: 46px;

        &-block {
            display: flex;
            justify-content: space-between;

            @media (max-width: vars.$md) {
                flex-direction: column;
                align-items: center;
                gap: 16px;
            }
        }

        &-btn {

            @media (max-width: vars.$md) {
                padding-block: 10px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        color: var(--clr-white);
    }


    &__desktop {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: vars.$md) {
            display: none;
        }
    }

    &__mobile {
        align-self: stretch;

        @media (min-width: vars.$min-md) {
            display: none;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 70px;
    }


    &__info {
        color: #BABABB;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    &__link {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
    }

    &__img {

        &-wrap,
        & {
            width: 100%;
        }

        border-radius: 20px;
    }


    &__name {
        display: flex;
        gap: 8px;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: var(--clr-white);

        &_icon {
            width: 24px;
            height: 24px;
        }
    }

    &__desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #BABABB;
    }

    &__badge {
        &-list {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            margin-top: auto;
        }
    }
}

.fancybox__container {
    --fancybox-color: var(--clr-dark);
    --fancybox-bg: var(--clr-dark);
    opacity: 0.9800000190734863;

    --f-spinner-color-1: rgba(0, 0, 0, 0.1);
    --f-spinner-color-2: rgba(17, 24, 28, 0.8);
}

.fancybox__slide.has-image>.fancybox__content {
    padding-inline: 16px;
}

.fancybox__nav {
    --f-button-next-pos: 72px;
    --f-button-prev-pos: 72px;

    --f-button-width: 56px;
    --f-button-height: 56px;

    --f-button-color: #333;
    --f-button-hover-color: #333;

    --f-button-bg: transparent;
    --f-button-border: 1px solid var(--clr-light);

    --f-button-svg-height: 12px;
    --f-button-svg-width: 12px;

    --f-button-svg-stroke-width: 3;
    --f-button-svg-filter: none;
}

.fancybox__toolbar {
    --f-button-color: var(--clr-light);
    --f-button-hover-color: var(--clr-white);

    --f-button-width: 56px;
    --f-button-height: 56px;

    --f-button-bg: transparent;
    --f-button-hover-bg: transparent;
    --f-button-active-bg: transparent;

    --f-button-svg-stroke-width: 1.5;
    --f-button-svg-filter: none;

    background: var(--clr-dark);
    text-shadow: none;
}

.fancybox__slide {
    padding: 12px 0px;
}

.f-thumbs__track {
    width: 100%;
}

.fancybox__thumbs.is-classic {
    --f-thumb-opacity: 1;
    --f-thumb-hover-opacity: 1;
    --f-thumb-selected-opacity: 1;

    --f-thumb-width: 120px;
    --f-thumb-height: 120px;
    --f-thumb-gap: 24px;
    --f-thumb-offset: 5px;
    --f-thumb-outline: 0;
}

.fancybox__thumbs.is-classic .f-thumbs__slide {
    border-radius: 4px;
    transition: all 0.2s;
}

.fancybox__thumbs.is-classic .f-thumbs__slide:hover,
.fancybox__thumbs.is-classic .f-thumbs__slide.is-nav-selected {
    border: 1px solid #6b7280;
}

[data-fancybox-close] {
    margin: 24px;
}

.f-button.is-prev {
    content: url(../../assets/images/gallery-prev.svg);
    padding: 10px;

    @media (max-width: vars.$lg) {
        display: none;
    }
}

.f-button.is-next {
    content: url(../../assets/images/gallery-next.svg);
    padding: 10px;

    @media (max-width: vars.$lg) {
        display: none;
    }
}