// Utils
@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.products {
  font-family: 'Poppins';
  margin-block: 100px 60px;

  @media (max-width: vars.$md) {
    margin-block: 32px;
  }

  &__container {
    &__title {
      color: var(--clr-white);
      font-size: 48px;
      font-weight: 400;
      line-height: 60px;
      letter-spacing: -0.48px;
      margin-bottom: 64px;
    }

    &__category {
      display: flex;
    }

    &__list {
      &:first-of-type {
        margin-top: 64px;
        margin-bottom: 32px;

        @media (max-width: vars.$lg) {
          margin-top: 24px;
        }
      }

      @media (min-width: vars.$lg) and (max-width: vars.$xl) {
        gap: 15px;
      }

      &__item {
        width: 410px;

        @media (max-width: vars.$xxl) {
          width: 360px;
        }

        @media (min-width: vars.$lg) and (max-width: vars.$xl) {
          width: 300px;
        }

        @media (max-width: vars.$lg) {
          width: 100%;
        }

        &__content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }

    &__mobile-filter {
      display: flex;
      gap: 8px;
      color: var(--clr-white);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin-block: 24px;

      @media (min-width: vars.$lg) {
        display: none;
      }
    }

    &__filters {
      display: flex;
      gap: 12px;
      margin-top: 32px;

      &__item {
        position: relative;
        width: 235px;
        padding: 14px 12px 14px 16px;
        border-radius: 24px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        color: var(--clr-white);
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.14px;
        background-image: url('../../assets/images/select-arrow-down.svg');
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: calc(100% - 16px) center;

        &.active {
          background-image: url('../../assets/images/select-arrow-up.svg');
        }

        &-options {
          position: absolute;
          top: 56px;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          flex-direction: column;
          gap: 16px;
          padding: 16px;
          border-radius: 20px;
          border: 1px solid rgba(255, 255, 255, 0.1);
          background: var(--bg, #1a1b1f);
        }

        &-option {
          color: var(--clr-white);
        }

        & > option {
          color: var(--clr-white);
          background-color: var(--clr-dark);
          border-radius: 24px;

          &:first-of-type {
            color: var(--clr-white);
          }

          &:checked,
          &:hover {
            background: var(--clr-dark);
            color: var(--clr-light);
          }

          &:hover {
            color: var(--clr-light);
            cursor: pointer;
          }
        }
      }

      @media (max-width: vars.$lg) {
        display: none;
      }

      &__mobile {
        display: none;
        color: var(--clr-white);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 24px;

        & > button {
          position: relative;
          padding-left: 32px;

          &::after {
            position: absolute;
            content: url('../../assets/images/filter-icon.svg');
            left: 0;
            top: 0;
          }
        }

        @media (max-width: vars.$lg) {
          display: block;
        }
      }
    }
  }
}

.category-switch {
  display: flex;
  width: 325px;
  height: 46px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);

  @media (max-width: vars.$lg) {
    width: 100%;
  }
}

.layer__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-light);
  width: 50%;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.category-active {
  color: var(--clr-black);
  width: 49%;
  background-color: var(--clr-accent);
  border-radius: 30px;
}

.select-box {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 0 auto;
}

.select-box .options-container {
  color: #ffffff;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: var(--bg, #1a1b1f);

  order: 1;
}

.selected {
  background: transparent;
  margin-bottom: 6px;
  color: #f5f6fa;
  position: relative;

  order: 0;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.selected::after {
  content: '';
  background: url('../../assets/images/select-arrow-down.svg');
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 16px;
  right: 16px;
  top: 16px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  position: absolute;
  top: 100%;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -16px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 6px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 14px 12px 14px 16px;
  cursor: pointer;
}

.select-box .option:hover {
  color: #ffffff;
  opacity: 0.6;
}

.select-box label {
  cursor: pointer;
}

.selected [type='radio']:not(:checked) + label,
.option [type='radio']:not(:checked) + label {
  padding-left: 0;
}

.selected > label::before,
.option label::before {
  padding-left: 0;
  display: none;
}

.select-box .option .radio {
  display: none;
}
