// Utils
@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.requirements {
    font-family: "Poppins";
    margin-block: 60px;

    &__heading {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    &__container {

        &__title {
            width: 768px;
            text-align: center;
            color: var(--clr-white);
            font-size: 36px;
            font-weight: 400;
            line-height: 46px;
            letter-spacing: -0.36px;
            margin-bottom: 64px;

            @media (max-width: vars.$lg){
                font-size: 28px;
                font-weight: 400;
                line-height: 36px;
                letter-spacing: -0.56px;
                margin-bottom: 24px;
            }
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: space-between;

            &__item {
                max-width: 410px;

                @media (max-width: vars.$xxl) {
                    max-width: 360px;
                }

                @media (min-width: vars.$lg) and (max-width: vars.$xl) {
                    max-width: 280px;
                }

                @media (min-width: vars.$md) and (max-width: vars.$lg) {
                    max-width: 300px;
                }

                @media (max-width: vars.$md) {
                    max-width: 100%;
                }

                &-picture {
                    position: relative;

                    @media (max-width: vars.$md) {
                        display: flex;
                        justify-content: center;
                    }

                    &__number {
                        position: absolute;
                        left: 16px;
                        top: 16px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 48px;
                        height: 48px;
                        background-color: var(--clr-dark);
                        padding: 8px 18px 8px 16px;
                        color: var(--clr-white);
                        border-radius: 12px;
                        background: rgba(255, 255, 255, 0.20);
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 32px;
                        letter-spacing: -0.5px;
                        text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    }
                }

                &-title {
                    margin-top: 20px;
                    color: var(--clr-white);
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 32px;
                    letter-spacing: -0.5px;

                    @media (min-width: vars.$sm) and (max-width: vars.$md) {
                        padding-inline: 64px;
                    }
                }

                &-desc {
                    color: #98A2B3;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-top: 12px;

                    @media (min-width: vars.$sm) and (max-width: vars.$md) {
                        padding-inline: 64px;
                    }
                }
            }
        }
    }
}