// Utils
@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.reviews {
    font-family: "Poppins";
    background: radial-gradient(128.11% 128.11% at 50% -32.4%, #6CEABD 0%, rgba(108, 234, 189, 0.36) 43.11%, rgba(108, 234, 189, 0) 100%);
    padding-block: 120px;

    &__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__title {
        width: 50ch;
        color: var(--clr-white);
        font-weight: 400;
        font-size: 36px;
        line-height: 46px;
        text-align: center;
        margin-bottom: 32px;

        @media (max-width: vars.$xl) {
            width: 40ch;
        }

        @media (max-width: vars.$lg) {
            width: 30ch;
        }

        @media (max-width: vars.$md) {
            width: 24ch;
        }

        @media (max-width: vars.$md) {
            width: 15ch;
        }
    }

    &__name {
        color: var(--clr-white);
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        margin-top: 16px;
    }

    &__position {
        color: #BABABB;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-top: 4px;
    }

    &__rating {
        margin-top: 32px;
    }
}