extends ../layouts/about

block vars
    - const title = 'About';
    - const pageName = 'about-page';

block content
    include ../components/sticky-widget
    include ../components/quiz
    include ../components/contact-modal
    include ../components/hero
    include ../components/advantages
    include ../components/requirements
    include ../components/usage
    include ../components/benefits
    include ../components/color-palette
    include ../components/catalogue
    include ../components/gallery
    include ../components/cta
    include ../components/faq
    include ../components/news