extends ../layouts/downloads

block vars
    - const title = 'Downloads';
    - const pageName = 'downloads-page';

block content
    include ../components/megamenu
    include ../components/downloads