extends ../layouts/faq

block vars
    - const title = 'FAQ';
    - const pageName = 'faq-page';

block content
    include ../components/sticky-widget
    include ../components/quiz
    include ../components/contact-modal
    include ../components/faq