extends ../layouts/main

block vars
  - const title = 'Home';
  - const pageName = 'home-page';

block content
  include ../components/sticky-widget
  include ../components/quiz
  include ../components/hero
  include ../components/partners
  include ../components/blog
  include ../components/benefits
  include ../components/gallery
  include ../components/reviews
  include ../components/howitworks
  include ../components/cta
  include ../components/faq
  include ../components/news