extends ../layouts/industry

block vars
    - const title = 'Industry page';
    - const pageName = 'industry-page';

block content
    include ../components/megamenu
    include ../components/hero
    include ../components/partners
    include ../components/video
    include ../components/gallery
    include ../components/necessities
    include ../components/product-detailed
    include ../components/links
    include ../components/product-list
    include ../components/reviews
    include ../components/cta
    include ../components/faq
    include ../components/news