extends ../layouts/inside

block vars
    - const title = 'Inside page';
    - const pageName = 'inside-page';

block content
    include ../components/megamenu
    include ../components/hero
    include ../components/partners
    include ../components/benefits-visual
    include ../components/gallery
    include ../components/necessities
    include ../components/links
    include ../components/product-list
    include ../components/reviews
    include ../components/cta
    include ../components/faq
    include ../components/news