extends ../layouts/navigation

block vars
    - const title = 'Navigation page';
    - const pageName = 'navigation-page';

block content
    include ../components/sticky-widget
    include ../components/quiz
    include ../components/contact-modal
    include ../components/hero
    include ../components/partners
    include ../components/benefits-visual
    include ../components/gallery
    include ../components/necessities
    include ../components/links
    include ../components/product-list
    include ../components/reviews
    include ../components/cta
    include ../components/faq
    include ../components/news