extends ../layouts/news_page

block vars
    - const title = 'Singular news';
    - const pageName = 'singular-news-page';

block content
    include ../components/singular-news
    include ../components/news