extends ../layouts/news

block vars
    - const title = 'News';
    - const pageName = 'news-page';

block content
    include ../components/sticky-widget
    include ../components/quiz
    include ../components/contact-modal
    include ../components/news-extended
    include ../components/pagination