extends ../layouts/organization

block vars
    - const title = 'Organization page';
    - const pageName = 'Organization-page';

block content
    include ../components/megamenu
    include ../components/hero
    include ../components/text-block
    include ../components/necessities
    include ../components/quote
    include ../components/partners
    include ../components/benefits-6
    include ../components/gallery
    include ../components/getintouch
    include ../components/reviews
    include ../components/benefits-visual
    include ../components/cta
    include ../components/faq
    include ../components/news