extends ../layouts/outside

block vars
    - const title = 'Outside page';
    - const pageName = 'Outside-page';

block content
    include ../components/megamenu
    include ../components/hero
    include ../components/partners
    include ../components/benefits-visual-singular
    include ../components/gallery
    include ../components/necessities
    include ../components/links
    include ../components/product-list
    include ../components/reviews
    include ../components/cta
    include ../components/faq
    include ../components/news