extends ../layouts/partners

block vars
    - const title = 'Partners';
    - const pageName = 'partners-page';

block content
    include ../components/quiz
    include ../components/partners-extended
    include ../components/gallery