extends ../layouts/portfolio

block vars
    - const title = 'Portfolio';
    - const pageName = 'portfolio-page';

block content
    include ../components/sticky-widget
    include ../components/quiz
    include ../components/contact-modal
    include ../components/portfolio
    include ../components/pagination