extends ../layouts/portfolio

block vars
    - const title = 'Portfolio';
    - const pageName = 'portfolio-page';

block content
    include ../components/megamenu
    include ../components/portfolio
    include ../components/pagination