extends ../layouts/privacy

block vars
    - const title = 'Privacy Policy';
    - const pageName = 'privacy-page';

block content
    include ../components/sticky-widget
    include ../components/quiz
    include ../components/contact-modal
    include ../components/privacy