extends ../layouts/product

block vars
    - const title = 'Product';
    - const pageName = 'product-page';

block content
    include ../components/products
    include ../components/cta
    include ../components/faq
    include ../components/news