extends ../layouts/product_page

block vars
    - const title = 'Product page';
    - const pageName = 'product-page';

block content
    include ../components/sticky-widget
    include ../components/quiz
    include ../components/contact-modal
    include ../components/product-display
    include ../components/benefits-visual
    include ../components/catalogue
    include ../components/product-list
    include ../components/product-list