extends ../layouts/products

block vars
    - const title = 'Products';
    - const pageName = 'products-page';

block content
    include ../components/mobile-filter
    include ../components/products
    include ../components/cta
    include ../components/faq
    include ../components/news