extends ../layouts/product_lens

block vars
    - const title = 'Lens page';
    - const pageName = 'lens-page';

block content
    include ../components/megamenu
    include ../components/lens
    include ../components/video
    include ../components/catalogue