section#advantages.advantages.section
    .advantages__container.container
        .advantages__container__left
            h3.advantages__container__title Ein Gobo kann projizieren:
            ul.advantages__container__list
                li.advantages__container__list__item.advantages__container__list__pros
                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g#Icon
                            path#Vector(d='M20.25 6.75L9.75 17.25L4.5 12' stroke='#F2F4F7' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                    span Logos, Text oder Nachrichten
                li.advantages__container__list__item.advantages__container__list__pros
                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g#Icon
                            path#Vector(d='M20.25 6.75L9.75 17.25L4.5 12' stroke='#F2F4F7' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                    span Abstrakte Muster
                li.advantages__container__list__item.advantages__container__list__pros
                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g#Icon
                            path#Vector(d='M20.25 6.75L9.75 17.25L4.5 12' stroke='#F2F4F7' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                    span Fotografische Bilder - sowohl in Graustufen als auch in Farbe
        .advantages__container__right
            h3.advantages__container__title Ein Gobo-Projektor kann nicht:
            ul.advantages__container__list
                li.advantages__container__list__item.advantages__container__list__cons
                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g#Icon
                            path#Union(fill-rule='evenodd' clip-rule='evenodd' d='M18.0303 6.28033C18.3232 5.98744 18.3232 5.51256 18.0303 5.21967C17.7374 4.92678 17.2626 4.92678 16.9697 5.21967L11.625 10.5643L6.28033 5.21967C5.98744 4.92678 5.51256 4.92678 5.21967 5.21967C4.92678 5.51256 4.92678 5.98744 5.21967 6.28033L10.5643 11.625L5.21967 16.9697C4.92678 17.2626 4.92678 17.7374 5.21967 18.0303C5.51256 18.3232 5.98744 18.3232 6.28033 18.0303L11.625 12.6857L16.9697 18.0303C17.2626 18.3232 17.7374 18.3232 18.0303 18.0303C18.3232 17.7374 18.3232 17.2626 18.0303 16.9697L12.6857 11.625L18.0303 6.28033Z' fill='#F2F4F7')
                    span
                        | Ein Video projizieren - dies wird als &quot;Datenprojektion&quot;
                        | bezeichnet
                li.advantages__container__list__item.advantages__container__list__cons
                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g#Icon
                            path#Union(fill-rule='evenodd' clip-rule='evenodd' d='M18.0303 6.28033C18.3232 5.98744 18.3232 5.51256 18.0303 5.21967C17.7374 4.92678 17.2626 4.92678 16.9697 5.21967L11.625 10.5643L6.28033 5.21967C5.98744 4.92678 5.51256 4.92678 5.21967 5.21967C4.92678 5.51256 4.92678 5.98744 5.21967 6.28033L10.5643 11.625L5.21967 16.9697C4.92678 17.2626 4.92678 17.7374 5.21967 18.0303C5.51256 18.3232 5.98744 18.3232 6.28033 18.0303L11.625 12.6857L16.9697 18.0303C17.2626 18.3232 17.7374 18.3232 18.0303 18.0303C18.3232 17.7374 18.3232 17.2626 18.0303 16.9697L12.6857 11.625L18.0303 6.28033Z' fill='#F2F4F7')
                    span
                        | Eine &quot;digitale&quot; Datei projizieren, die von einem Laptop oder
                        | Ger&auml;t gesendet wurde.
