section#advantages.advantages.section
    .advantages__container.container
        .advantages__container__left
            h3.advantages__container__title Ein Gobo kann projizieren:
            ul.advantages__container__list
                li.advantages__container__list__item.advantages__container__list__pros
                    img(src="@/assets/images/pros.svg")
                    span Logos, Text oder Nachrichten
                li.advantages__container__list__item.advantages__container__list__pros
                    img(src="@/assets/images/pros.svg")
                    span Abstrakte Muster
                li.advantages__container__list__item.advantages__container__list__pros
                    img(src="@/assets/images/pros.svg")
                    span Fotografische Bilder - sowohl in Graustufen als auch in Farbe
        .advantages__container__left
            h3.advantages__container__title Ein Gobo-Projektor kann nicht:
            ul.advantages__container__list
                li.advantages__container__list__item.advantages__container__list__cons
                    img(src="@/assets/images/cons.svg")
                    span
                        | Ein Video projizieren - dies wird als &quot;Datenprojektion&quot;
                        | bezeichnet
                li.advantages__container__list__item.advantages__container__list__cons
                    img(src="@/assets/images/cons.svg")
                    span
                        | Eine &quot;digitale&quot; Datei projizieren, die von einem Laptop oder
                        | Ger&auml;t gesendet wurde.
