section#benefits-6.benefits-6.section
    .benefits-6__heading.container
        h2.benefits-6__heading__title Warum eine Partnerschaft mit GoboPro
        p.benefits-6__heading__subtitle
            | Wir freuen uns, Ihnen eine einzigartige Gelegenheit anzubieten,
            | unser Partner zu werden und von den zahlreichen Vorteilen einer Zusammenarbeit mit uns zu profitieren.
    .benefits-6__container.container
        .benefits-6__container__items 
            .benefits-6__container__items__item
                .benefits-6__container__items__item-icon
                    img(src='./assets/images/four-star.svg' alt="")
                h3.benefits-6__container__items__item-title
                    | Zugang zu hochwertigen Waren
                p.benefits-6__container__items__item-desc
                    | Von Elektronik bis hin zu Haushaltsgeräten und vielem mehr - unser Produktportfolio ist vielfältig und bietet Ihnen die Möglichkeit, den Bedürfnissen Ihrer Kunden gerecht zu werden.
            .benefits-6__container__items__item
                .benefits-6__container__items__item-icon
                    img(src='./assets/images/four-star.svg' alt="")
                h3.benefits-6__container__items__item-title
                    | Die attraktive Provision
                p.benefits-6__container__items__item-desc
                    | Je mehr Produkte Sie verkaufen, desto höher ist Ihr Verdienstpotenzial. Wir schätzen die Leistung unserer Partner und belohnen sie angemessen für ihren Einsatz und ihre Ergebnisse.
            .benefits-6__container__items__item
                .benefits-6__container__items__item-icon
                    img(src='./assets/images/four-star.svg' alt="")
                h3.benefits-6__container__items__item-title
                    | Professionellem Rat
                p.benefits-6__container__items__item-desc
                    | Unser engagiertes Team steht Ihnen mit professionellem Rat und Unterstützung zur Seite, um sicherzustellen, dass Ihr Geschäft erfolgreich ist.
            .benefits-6__container__items__item
                .benefits-6__container__items__item-icon
                    img(src='./assets/images/four-star.svg' alt="")
                h3.benefits-6__container__items__item-title
                    | Schulungen
                p.benefits-6__container__items__item-desc
                    | Wir stellen Ihnen Marketingmaterialien, Schulungen und Verkaufstools zur Verfügung, um Ihnen den Start und den Aufbau Ihres Geschäfts zu erleichtern.
        .benefits-6__container__picture
            img(src='./assets/images/benefits-6.png' alt="")