section#benefits-visual.benefits-visual.section
    .benefits-visual__container.container
        .benefits-visual__container__item.benefits-singular
            .benefits-visual__container__item-picture
                img(src='./assets/images/benefits-singular.png' alt='benefit')
            .benefits-visual__container__item-content
                h3.benefits-visual__container__item-content__title 
                    span.text-accent 
                        | Über den Einsatz von Gobo-Projektoren
                    |  in der Navigation
                p.benefits-visual__container__item-content__desc
                    | Gobo-Projektoren sind eine innovative Lösung für die Innenraumnavigation. Unabhängig von der Art des Raums - von Bürogebäuden bis zu Ausstellungspavillons - bieten Gobo-Projektoren eine effiziente und bequeme Navigation, indem sie Richtung und Standortinformationen anzeigen.
