section.blog-3-1.section.block
    .blog-3-1__container.container
        .blog-3-1__text-block
            h2.blog-3-1__title Nachhaltige L&ouml;sungen f&uuml;r Ihr Unternehmen
    .blog-3-1__desktop.container
        ul.blog-3-1__list
            li
                .blog-3-1__item
                    a.blog-3-1__link(href='#')
                        picture.blog-3-1__img-wrap
                            img.blog-3-1__img(src='@/assets/images/blog-item-1.png' alt='')
                        .blog-3-1__item-content
                            .blog-3-1__item-text-block
                                .blog-3-1__name-block
                                    h3.blog-3-1__name
                                        | Industrie
                                        svg.blog-3-1__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                            path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                p.blog-3-1__desc
                                    | How do you create compelling presentations that wow your colleagues
                                    | and impress your managers?
                            ul.blog-3-1__badge-list
                                li
                                    span.badge Verkehrsschilder
                                li
                                    span.badge Für Fabriken
                                li
                                    span.badge Für Lagerhallen
            li
                .blog-3-1__item
                    a.blog-3-1__link(href='#')
                        picture.blog-3-1__img-wrap
                            img.blog-3-1__img(src='@/assets/images/blog-item-2.png' alt='')
                        .blog-3-1__item-content
                            .blog-3-1__item-text-block
                                h3.blog-3-1__name
                                    | Navigation und Sicherheit
                                    svg.blog-3-1__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                p.blog-3-1__desc
                                    | How do you create compelling presentations that wow your colleagues
                                    | and impress your managers?
                            ul.blog-3-1__badge-list
                                li
                                    span.badge Verkehrsschilder
                                li
                                    span.badge Projektierter Zebrastreifen
                                li
                                    span.badge Für Krankenhäuser
                                li
                                    span.badge Für die Verwaltung
            li
                .blog-3-1__item
                    a.blog-3-1__link(href='#')
                        picture.blog-3-1__img-wrap
                            img.blog-3-1__img(src='@/assets/images/blog-item-3.png' alt='')
                        .blog-3-1__item-content
                            .blog-3-1__item-text-block
                                .blog-3-1__name-block
                                    h3.blog-3-1__name
                                        | Außen
                                        svg.blog-3-1__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                            path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                p.blog-3-1__desc
                                    | How do you create compelling presentations that wow your colleagues
                                    | and impress your managers?
                            ul.blog-3-1__badge-list
                                li
                                    span.badge Bars
                                li
                                    span.badge Geschäfte
                                li
                                    span.badge Stadien
                                li
                                    span.badge Parks
            li
                .blog-3-1__item
                    a.blog-3-1__link(href='#')
                        picture.blog-3-1__img-wrap
                            img.blog-3-1__img(src='@/assets/images/blog-item-4.png' alt='')
                        .blog-3-1__item-content
                            .blog-3-1__item-text-block
                                .blog-3-1__name-block
                                    h3.blog-3-1__name
                                        | Innen
                                        svg.blog-3-1__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                            path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                p.blog-3-1__desc
                                    | How do you create compelling presentations that wow your colleagues
                                    | and impress your managers?
                            ul.blog-3-1__badge-list
                                li
                                    span.badge Einkaufszentren
                                li
                                    span.badge Messen
                                li
                                    span.badge Bars, Restaurants
            li
                .blog-3-1__item
                    a.blog-3-1__link(href='#')
                        picture.blog-3-1__img-wrap
                            img.blog-3-1__img(src='@/assets/images/blog-item-5.png' alt='')
                        .blog-3-1__item-content
                            .blog-3-1__item-text-block
                                h3.blog-3-1__name
                                    | Dekorativ
                                    svg.blog-3-1__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                p.blog-3-1__desc
                                    | How do you create compelling presentations that wow your colleagues
                                    | and impress your managers?
                            ul.blog-3-1__badge-list
                                li
                                    span.badge Feiertage
                                li
                                    span.badge Veranstaltungen
                                li
                                    span.badge Dekorativ
            li
                .blog-3-1__item
                    a.blog-3-1__link(href='#')
                        picture.blog-3-1__img-wrap
                            img.blog-3-1__img(src='@/assets/images/blog-item-5.png' alt='')
                        .blog-3-1__item-content
                            .blog-3-1__item-text-block
                                .blog-3-1__name-block
                                    h3.blog-3-1__name
                                        | Konfigurator
                                        svg.blog-3-1__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                            path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                p.blog-3-1__desc
                                    | How do you create compelling presentations that wow your colleagues
                                    | and impress your managers?
    .blog-3-1__mobile.container
        .swiper.blog-3-1__slider
            ul.swiper-wrapper
                li.swiper-slide
                    .blog-3-1__item
                        a.blog-3-1__link(href='#')
                            picture.blog-3-1__img-wrap
                                img.blog-3-1__img(src='@/assets/images/blog-item-1.png' alt='')
                            .blog-3-1__item-content
                                .blog-3-1__item-text-block
                                    .blog-3-1__name-block
                                        h3.blog-3-1__name
                                            | Industrie
                                            svg.blog-3-1__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                                path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                    p.blog-3-1__desc
                                        | How do you create compelling presentations that wow your colleagues
                                        | and impress your managers?
                                ul.blog-3-1__badge-list
                                    li
                                        span.badge Presentation
                                    li
                                        span.badge Presentation
                                    li
                                        span.badge Research
                li.swiper-slide
                    .blog-3-1__item
                        a.blog-3-1__link(href='#')
                            picture.blog-3-1__img-wrap
                                img.blog-3-1__img(src='@/assets/images/blog-item-2.png' alt='')
                            .blog-3-1__item-content
                                .blog-3-1__item-text-block
                                    .blog-3-1__name-block
                                        h3.blog-3-1__name
                                            | Navigation und Sicherheit
                                            svg.blog-3-1__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                                path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                    p.blog-3-1__desc
                                        | How do you create compelling presentations that wow your colleagues
                                        | and impress your managers?
                                ul.blog-3-1__badge-list
                                    li
                                        span.badge Presentation
                                    li
                                        span.badge Presentation
                                    li
                                        span.badge Research
                li.swiper-slide
                    .blog-3-1__item
                        a.blog-3-1__link(href='#')
                            picture.blog-3-1__img-wrap
                                img.blog-3-1__img(src='@/assets/images/blog-item-3.png' alt='')
                            .blog-3-1__item-content
                                .blog-3-1__item-text-block
                                    .blog-3-1__name-block
                                        h3.blog-3-1__name
                                            | Außen
                                            svg.blog-3-1__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                                path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                    p.blog-3-1__desc
                                        | How do you create compelling presentations that wow your colleagues
                                        | and impress your managers?
                                ul.blog-3-1__badge-list
                                    li
                                        span.badge Presentation
                                    li
                                        span.badge Presentation
                                    li
                                        span.badge Research
                li.swiper-slide
                    .blog-3-1__item
                        a.blog-3-1__link(href='#')
                            picture.blog-3-1__img-wrap
                                img.blog-3-1__img(src='@/assets/images/blog-item-4.png' alt='')
                            .blog-3-1__item-content
                                .blog-3-1__item-text-block
                                    .blog-3-1__name-block
                                        h3.blog-3-1__name
                                            | Innen
                                            svg.blog-3-1__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                                path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                    p.blog-3-1__desc
                                        | How do you create compelling presentations that wow your colleagues
                                        | and impress your managers?
                                ul.blog-3-1__badge-list
                                    li
                                        span.badge Presentation
                                    li
                                        span.badge Presentation
                                    li
                                        span.badge Research
                li.swiper-slide
                    .blog-3-1__item
                        a.blog-3-1__link(href='#')
                            picture.blog-3-1__img-wrap
                                img.blog-3-1__img(src='@/assets/images/blog-item-5.png' alt='')
                            .blog-3-1__item-content
                                .blog-3-1__item-text-block
                                    h3.blog-3-1__name
                                        | Dekorativ
                                        svg.blog-3-1__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                            path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                    p.blog-3-1__desc
                                        | How do you create compelling presentations that wow your colleagues
                                        | and impress your managers?
                                ul.blog-3-1__badge-list
                                    li
                                        span.badge Presentation
                                    li
                                        span.badge Presentation
                                    li
                                        span.badge Research
                li.swiper-slide
                    .blog-3-1__item
                        a.blog-3-1__link(href='#')
                            picture.blog-3-1__img-wrap
                                img.blog-3-1__img(src='@/assets/images/blog-item-5.png' alt='')
                            .blog-3-1__item-content
                                .blog-3-1__item-text-block
                                    .blog-3-1__name-block
                                        h3.blog-3-1__name
                                            | Konfigurator
                                            svg.blog-3-1__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                                path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                    p.blog-3-1__desc
                                        | How do you create compelling presentations that wow your colleagues
                                        | and impress your managers?
                                ul.blog-3-1__badge-list
                                    li
                                        span.badge Presentation
                                    li
                                        span.badge Presentation
                                    li
                                        span.badge Research
                        .blog-3-1__slider-btn-block
                            button.blog-3-1__slider-btn.blog-3-1__slider-btn_prev.btn-arrow(type='button')
                                svg.btn-arrow__icon(viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M20.25 12H3.75' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                                    path(d='M10.5 5.25L3.75 12L10.5 18.75' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            button.blog-3-1__slider-btn.blog-3-1__slider-btn_next.btn-arrow(type='button')
                                svg.btn-arrow__icon(viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M3.75 12H20.25' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                                    path(d='M13.5 5.25L20.25 12L13.5 18.75' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')

