section#catalogue.catalogue.section
    .catalogue__container.container
        .catalogue__heading
            h3.catalogue__container__title
                | Gobo 
                span.text-accent
                    | Katalog
        ul.catalogue__container__list.swiper.catalogue-swiper
            .swiper-wrapper
                li.catalogue__container__list__item.swiper-slide.catalogue-swiper-slide
                    .catalogue__container__list__item-picture
                        img(src='./assets/images/catalogue-1.png')
                    .catalogue__container__list__item__content
                        h4.catalogue__container__list__item-title
                            span Profil-Scheinwerfer
                            a.catalogue__link(href='#')
                                svg.btn__icon(viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6')
                                    path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M8.25 6H18V15.75')
                        p.catalogue__container__list__item-price 102,00 &euro;
                li.catalogue__container__list__item.swiper-slide.catalogue-swiper-slide
                    .catalogue__container__list__item-picture
                        img(src='./assets/images/catalogue-2.png')
                    .catalogue__container__list__item__content
                        h4.catalogue__container__list__item-title
                            span Gobo-Halterung
                            a.catalogue__link(href='#')
                                svg.btn__icon(viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6')
                                    path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M8.25 6H18V15.75')
                        p.catalogue__container__list__item-price 157,00 &euro;
                li.catalogue__container__list__item.swiper-slide.catalogue-swiper-slide
                    .catalogue__container__list__item-picture
                        img(src='./assets/images/catalogue-3.png')
                    .catalogue__container__list__item__content
                        h4.catalogue__container__list__item-title
                            span Projektionsfl&auml;che
                            a.catalogue__link(href='#')
                                svg.btn__icon(viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6')
                                    path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M8.25 6H18V15.75')
                        p.catalogue__container__list__item-price 304,00 &euro;
        ul.catalogue__container__list.swiper.similar-swiper
            .swiper-wrapper
                li.catalogue__container__list__item.swiper-slide.catalogue-swiper-slide
                    .catalogue__container__list__item-picture
                        img(src='./assets/images/catalogue-1.png')
                    .catalogue__container__list__item__content
                        h4.catalogue__container__list__item-title
                            span Profil-Scheinwerfer
                            a.catalogue__link(href='#')
                                svg.btn__icon(viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6')
                                    path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M8.25 6H18V15.75')
                        p.catalogue__container__list__item-price 102,00 &euro;
                li.catalogue__container__list__item.swiper-slide.catalogue-swiper-slide
                    .catalogue__container__list__item-picture
                        img(src='./assets/images/catalogue-2.png')
                    .catalogue__container__list__item__content
                        h4.catalogue__container__list__item-title
                            span Gobo-Halterung
                            a.catalogue__link(href='#')
                                svg.btn__icon(viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6')
                                    path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M8.25 6H18V15.75')
                        p.catalogue__container__list__item-price 157,00 &euro;
                li.catalogue__container__list__item.swiper-slide.catalogue-swiper-slide
                    .catalogue__container__list__item-picture
                        img(src='./assets/images/catalogue-3.png')
                    .catalogue__container__list__item__content
                        h4.catalogue__container__list__item-title
                            span Projektionsfl&auml;che
                            a.catalogue__link(href='#')
                                svg.btn__icon(viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6')
                                    path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M8.25 6H18V15.75')
                        p.catalogue__container__list__item-price 304,00 &euro;
        .swiper-btn-block.similar-swiper-btn-block
            button.swiper-btn.similar-swiper-btn_prev.btn-arrow.btn-arrow--lighter(type='button')
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Icon">
                        <path id="Vector" d="M20.25 12H3.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_2" d="M10.5 5.25L3.75 12L10.5 18.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                </svg>
            button.swiper-btn.similar-swiper-btn_next.btn-arrow.btn-arrow--lighter(type='button')
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Icon">
                        <path id="Vector" d="M20.25 12H3.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_2" d="M10.5 5.25L3.75 12L10.5 18.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                </svg>
        .catalogue__more
            button.btn.btn-regular.catalogue__more__products.btn-regular Zu allen produkten
