section.color-palette.section
  .color-palette__heading.container
    h2.color-palette__heading__title 
      | Die Farbpalette zeigt eine Reihe 
      span.text-accent
        | von Farben zur Auswahl an
    a.color-palette__heading__link(href='#') PDF Download
  .color-palette__container
    .color-palette__container__list.swiper.color-palette-swiper
      .swiper-wrapper
        .color-palette__container__list__item.swiper-slide
          .color-palette__container__list__item__color(style="background-color: #fff;")
          p.color-palette__container__list__item__name ColorName
        .color-palette__container__list__item.swiper-slide
          .color-palette__container__list__item__color(style="background-color: #fff;")
          p.color-palette__container__list__item__name ColorName
        .color-palette__container__list__item.swiper-slide
          .color-palette__container__list__item__color(style="background-color: #fff;")
          p.color-palette__container__list__item__name ColorName
        .color-palette__container__list__item.swiper-slide
          .color-palette__container__list__item__color(style="background-color: #fff;")
          p.color-palette__container__list__item__name ColorName
        .color-palette__container__list__item.swiper-slide
          .color-palette__container__list__item__color(style="background-color: #fff;")
          p.color-palette__container__list__item__name ColorName
        .color-palette__container__list__item.swiper-slide
          .color-palette__container__list__item__color(style="background-color: #fff;")
          p.color-palette__container__list__item__name ColorName
        .color-palette__container__list__item.swiper-slide
          .color-palette__container__list__item__color(style="background-color: #fff;")
          p.color-palette__container__list__item__name ColorName
        .color-palette__container__list__item.swiper-slide
          .color-palette__container__list__item__color(style="background-color: #fff;")
          p.color-palette__container__list__item__name ColorName
        .color-palette__container__list__item.swiper-slide
          .color-palette__container__list__item__color(style="background-color: #fff;")
          p.color-palette__container__list__item__name ColorName
      .color-palette-swiper-btn-block.container
        button.swiper-btn.color-palette-swiper-btn_prev.btn-arrow.btn-arrow--lighter(type='button')
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Icon">
              <path id="Vector" d="M20.25 12H3.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_2" d="M10.5 5.25L3.75 12L10.5 18.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
          </svg>
        button.swiper-btn.color-palette-swiper-btn_next.btn-arrow.btn-arrow--lighter(type='button')
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Icon">
              <path id="Vector" d="M20.25 12H3.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path id="Vector_2" d="M10.5 5.25L3.75 12L10.5 18.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
          </svg>
