section.contacts-2.section.block
    .contacts-2__container.container
        .contacts-2__text-block 
            h2.contacts-2__title Kontakt
        ul.contacts-2__list
            .contacts-2__item 
                .contacts-2__item-text-block
                    h3.contacts-2__name Email
                    span.contacts-2__text Unser freundliches Team ist für Sie da
                a.contacts-2__info(href="mailto:info@gobopro.de") info@gobopro.de
            .contacts-2__item 
                .contacts-2__item-text-block
                    h3.contacts-2__name Office
                    span.contacts-2__text Begrüßen Sie uns in unserem Büro HQ
                address.contacts-2__info 
                    | Marktplatz 10, 89257 Illertissen, Deutschland
            .contacts-2__item 
                .contacts-2__item-text-block
                    h3.contacts-2__name Phone
                    span.contacts-2__text Mo-Fr von 9 Uhr bis 19 Uhr
                a.contacts-2__info(href="tel:+4973039403952") +49 7303 9403 952