section.cta-4.section.block
    .cta-4__container.container
        .cta-4__content
            .cta-4__content-inner
                .cta-4__text-block
                    .cta-4__title-block
                        h2.cta-4__title
                            | Wir Garantieren Qualit&auml;t.
                            | 2 Jahre Garantie
                    p.cta-4__desc
                        | Die Garantie gilt auch bei Selbstmontage. Im Falle eines Garantieanspruchs werden wir alle Probleme
                        | kostenlos beheben.
                .cta-4__btn-block
                    a.btn.btn_large.btn_black.contact-form(href='#')
                        | Unverbindlich Anfragen
                        svg.btn__icon(viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6')
                            path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M8.25 6H18V15.75')
            .cta-4__img-wrap
                img.cta-4__img(src='./assets/images/cta.png' alt='Deine Message')
