section#downloads.downloads.section
    .downloads__container.container
        h2.downloads__container__title
            | Downloads
        .downloads__container__items
            .downloads__container__items__item
                .downloads__container__items__item-icon
                    img(src='./assets/images/pdf.svg' alt="Presentation")
                .downloads__container__items__item-text Präsentation
            .downloads__container__items__item
                .downloads__container__items__item-icon
                    img(src='./assets/images/pdf.svg' alt="Presentation")
                .downloads__container__items__item-text Präsentation
            .downloads__container__items__item
                .downloads__container__items__item-icon
                    img(src='./assets/images/pdf.svg' alt="Presentation")
                .downloads__container__items__item-text Präsentation
            .downloads__container__items__item
                .downloads__container__items__item-icon
                    img(src='./assets/images/pdf.svg' alt="Presentation")
                .downloads__container__items__item-text Präsentation
            .downloads__container__items__item
                .downloads__container__items__item-icon
                    img(src='./assets/images/pdf.svg' alt="Presentation")
                .downloads__container__items__item-text Präsentation
            .downloads__container__items__item
                .downloads__container__items__item-icon
                    img(src='./assets/images/pdf.svg' alt="Presentation")
                .downloads__container__items__item-text Präsentation
