footer.footer.section.block
  .footer-3__container.container
    .footer-3__top
    .footer-3__list
      .footer-3__item.footer-3__item_left
        .footer-3__left
          a.footer-3__logo(href='#')
            img.footer-3__logo-img(src='./assets/images/gobopro-logo.svg' alt='GoboPro Logo')
          .footer-3__left__socials
            .footer-3__left__socials__item
              svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M12 4C8.78 4 4.60066 4.80679 4.60066 4.80679L4.59014 4.81881C3.12359 5.05336 2 6.31356 2 7.84615V12.4615V12.463V17.0769V17.0784C2.00143 17.8104 2.26375 18.5178 2.73984 19.0738C3.21594 19.6297 3.87464 19.9978 4.59766 20.1118L4.60066 20.1163C4.60066 20.1163 8.78 20.9246 12 20.9246C15.22 20.9246 19.3993 20.1163 19.3993 20.1163L19.4008 20.1148C20.1246 20.001 20.7841 19.6327 21.2606 19.0761C21.737 18.5195 21.9992 17.8111 22 17.0784V17.0769V12.463V12.4615V7.84615C21.9989 7.11394 21.7368 6.40612 21.2606 5.84985C20.7845 5.29359 20.1256 4.92535 19.4023 4.8113L19.3993 4.80679C19.3993 4.80679 15.22 4 12 4ZM9.69231 8.92188L15.8462 12.4615L9.69231 16.0012V8.92188Z' fill='white')
            .footer-3__left__socials__item
              svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M7.8 2H16.2C19.4 2 22 4.6 22 7.8V16.2C22 17.7383 21.3889 19.2135 20.3012 20.3012C19.2135 21.3889 17.7383 22 16.2 22H7.8C4.6 22 2 19.4 2 16.2V7.8C2 6.26174 2.61107 4.78649 3.69878 3.69878C4.78649 2.61107 6.26174 2 7.8 2ZM7.6 4C6.64522 4 5.72955 4.37928 5.05442 5.05442C4.37928 5.72955 4 6.64522 4 7.6V16.4C4 18.39 5.61 20 7.6 20H16.4C17.3548 20 18.2705 19.6207 18.9456 18.9456C19.6207 18.2705 20 17.3548 20 16.4V7.6C20 5.61 18.39 4 16.4 4H7.6ZM17.25 5.5C17.5815 5.5 17.8995 5.6317 18.1339 5.86612C18.3683 6.10054 18.5 6.41848 18.5 6.75C18.5 7.08152 18.3683 7.39946 18.1339 7.63388C17.8995 7.8683 17.5815 8 17.25 8C16.9185 8 16.6005 7.8683 16.3661 7.63388C16.1317 7.39946 16 7.08152 16 6.75C16 6.41848 16.1317 6.10054 16.3661 5.86612C16.6005 5.6317 16.9185 5.5 17.25 5.5ZM12 7C13.3261 7 14.5979 7.52678 15.5355 8.46447C16.4732 9.40215 17 10.6739 17 12C17 13.3261 16.4732 14.5979 15.5355 15.5355C14.5979 16.4732 13.3261 17 12 17C10.6739 17 9.40215 16.4732 8.46447 15.5355C7.52678 14.5979 7 13.3261 7 12C7 10.6739 7.52678 9.40215 8.46447 8.46447C9.40215 7.52678 10.6739 7 12 7ZM12 9C11.2044 9 10.4413 9.31607 9.87868 9.87868C9.31607 10.4413 9 11.2044 9 12C9 12.7956 9.31607 13.5587 9.87868 14.1213C10.4413 14.6839 11.2044 15 12 15C12.7956 15 13.5587 14.6839 14.1213 14.1213C14.6839 13.5587 15 12.7956 15 12C15 11.2044 14.6839 10.4413 14.1213 9.87868C13.5587 9.31607 12.7956 9 12 9Z' fill='white')
            .footer-3__left__socials__item
              svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M12 2.04004C6.5 2.04004 2 6.53004 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.85004C10.44 7.34004 11.93 5.96004 14.22 5.96004C15.31 5.96004 16.45 6.15004 16.45 6.15004V8.62004H15.19C13.95 8.62004 13.56 9.39004 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96C15.9164 21.5879 18.0622 20.3856 19.6099 18.5701C21.1576 16.7546 22.0053 14.4457 22 12.06C22 6.53004 17.5 2.04004 12 2.04004V2.04004Z' fill='white')
            .footer-3__left__socials__item
              svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M19.619 2H4.38095C3.0681 2 2 3.0681 2 4.38095V19.619C2 20.9319 3.0681 22 4.38095 22H19.619C20.9319 22 22 20.9319 22 19.619V4.38095C22 3.0681 20.9319 2 19.619 2ZM17.7171 10.7252C17.609 10.7352 17.4995 10.7419 17.3886 10.7419C16.1395 10.7419 15.0419 10.0995 14.4033 9.12857C14.4033 11.6757 14.4033 14.5738 14.4033 14.6224C14.4033 16.8648 12.5852 18.6829 10.3429 18.6829C8.10048 18.6829 6.28238 16.8648 6.28238 14.6224C6.28238 12.38 8.10048 10.5619 10.3429 10.5619C10.4276 10.5619 10.5105 10.5695 10.5938 10.5748V12.5757C10.5105 12.5657 10.4286 12.5505 10.3429 12.5505C9.1981 12.5505 8.27048 13.4781 8.27048 14.6229C8.27048 15.7676 9.1981 16.6952 10.3429 16.6952C11.4876 16.6952 12.4986 15.7933 12.4986 14.6486C12.4986 14.6033 12.5186 5.3181 12.5186 5.3181H14.431C14.611 7.0281 15.9914 8.37762 17.7171 8.50143V10.7252Z' fill='white')
      .footer-3__item
        h3.footer-3__item__title Use cases
        .footer-3__nav
          ul.footer-3__nav-list
            li.footer-3__nav-item
              a.footer-3__nav-link(href='#') Industrie
            li.footer-3__nav-item
              a.footer-3__nav-link(href='#') Navigation and Security
            li.footer-3__nav-item
              a.footer-3__nav-link(href='#') Outdoor
            li.footer-3__nav-item
              a.footer-3__nav-link(href='#') Indoor
            li.footer-3__nav-item
              a.footer-3__nav-link(href='#') Decorative
      .footer-3__item
        h3.footer-3__item__title Products
        .footer-3__nav
          ul.footer-3__nav-list
            li.footer-3__nav-item
              a.footer-3__nav-link(href='#') Gobos
            li.footer-3__nav-item
              a.footer-3__nav-link(href='#') GBP-Serie
            li.footer-3__nav-item
              a.footer-3__nav-link(href='#') MH-Serie
            li.footer-3__nav-item
              a.footer-3__nav-link(href='#') X-Serie
      .footer-3__item
        h3.footer-3__item__title Company
        .footer-3__nav
          ul.footer-3__nav-list
            li.footer-3__nav-item
              a.footer-3__nav-link(href='#') About
            li.footer-3__nav-item
              a.footer-3__nav-link(href='#') Partners
            li.footer-3__nav-item
              a.footer-3__nav-link(href='#') Downloads
            li.footer-3__nav-item
              a.footer-3__nav-link(href='#') FAQ
      .footer-3__item
        h3.footer-3__item__title Details
        .footer-3__nav
          ul.footer-3__nav-list
            li.footer-3__nav-item
              a.footer-3__nav-link(href='#') About Gobos
            li.footer-3__nav-item
              a.footer-3__nav-link(href='#') News
      .footer-3__item.footer-3__item_order#footer-contacts
        .footer-3__contacts-block
          .footer-3__contacts
            .footer-3__contacts-inner
              .footer-3__contacts-title
                svg.footer-3__contacts-title_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round' d='M7.22656 9.7499C7.8697 11.078 8.94365 12.1492 10.2734 12.789C10.3715 12.8354 10.48 12.8555 10.5882 12.8473C10.6965 12.8391 10.8007 12.8028 10.8906 12.7421L12.8437 11.4374C12.93 11.3789 13.0298 11.3432 13.1336 11.3336C13.2374 11.324 13.342 11.3409 13.4375 11.3827L17.0937 12.953C17.2187 13.005 17.3231 13.0967 17.3909 13.2139C17.4586 13.331 17.486 13.4672 17.4687 13.6015C17.3529 14.5059 16.9114 15.3372 16.2269 15.9397C15.5424 16.5422 14.6619 16.8747 13.75 16.8749C10.9321 16.8749 8.22956 15.7555 6.23699 13.7629C4.24442 11.7703 3.125 9.06783 3.125 6.2499C3.12521 5.33803 3.45767 4.45747 4.06018 3.77299C4.66268 3.08852 5.49395 2.64704 6.39844 2.53115C6.53269 2.51391 6.66888 2.54127 6.78605 2.60903C6.90322 2.67679 6.99486 2.78119 7.04687 2.90615L8.61719 6.57022C8.65802 6.66424 8.67511 6.76686 8.66693 6.86904C8.65876 6.97122 8.62558 7.06982 8.57031 7.15615L7.26562 9.14053C7.20754 9.23028 7.17345 9.33343 7.16661 9.44012C7.15977 9.54681 7.18041 9.65347 7.22656 9.7499V9.7499Z')
                | Phone
              ul.footer-3__contacts-list
                li.footer-3__contacts-item
                  a.footer-3__contacts-link(href='tel:+4973039403952')
                    | +49
                    | 7303 9403 952
            .footer-3__contacts-inner
              .footer-3__contacts-title
                svg.footer-3__contacts-title_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round' d='M2.5 4.375H17.5V15C17.5 15.1658 17.4342 15.3247 17.3169 15.4419C17.1997 15.5592 17.0408 15.625 16.875 15.625H3.125C2.95924 15.625 2.80027 15.5592 2.68306 15.4419C2.56585 15.3247 2.5 15.1658 2.5 15V4.375Z')
                  path(stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round' d='M17.5 4.375L10 11.25L2.5 4.375')
                | Mail
              ul.footer-3__contacts-list
                li.footer-3__contacts-item
                  a.footer-3__contacts-link(href='mailto:info@gobopro.de') info@gobopro.de
        button.btn.footer-3__quiz(type='button')
          | Take the quiz!
    .footer-3__bottom
      .footer-3__copyright &copy; 2023 GoboPro.de. All rights reserved.
      ul.footer-3__links
        li.footer-3__links-item
          a.footer-3__links-link(href='#') Terms
        li.footer-3__links-item
          a.footer-3__links-link(href='#') Privacy
        li.footer-3__links-item
          a.footer-3__links-link(href='#') Cookies