section.gallery.container
    h2.gallery__title
        | GoboPro 
        span.text-accent Cases
    .gallery__container
        .gallery__container__left
            .gallery__container__left__item
                img(src='./assets/images/gallery1.png')
        .gallery__container__right
            .gallery__container__right__item
                img(src='./assets/images/gallery2.png')
            .gallery__container__right__item
                img(src='./assets/images/gallery3.png')
            .gallery__container__right__item
                img(src='./assets/images/gallery4.png')
            .gallery__container__right__item
                img(src='./assets/images/gallery5.png')