section.gallery.container
    h2.gallery__title
        | GoboPro 
        span.text-accent Cases
    .gallery__container
        .gallery__container__left
            .gallery__container__left__item
                video.gallery__video(controls)
                    source(src="@/assets/resources/gobo.mp4") 
        .gallery__container__right
            .gallery__container__right__item
                img(src='./assets/images/gallery2.png')
            .gallery__container__right__item
                img(src='./assets/images/gallery3.png')
            .gallery__container__right__item
                img(src='./assets/images/gallery4.png')
            .gallery__container__right__item
                img(src='./assets/images/gallery5.png')
    .gallery__container__mobile.swiper.gallery-swiper
        .swiper-wrapper
            .gallery__container__right__item.swiper-slide.gallery-swiper-slide
                video.gallery__video(controls)
                    source(src="@/assets/resources/gobo.mp4") 
            .gallery__container__right__item.swiper-slide.gallery-swiper-slide
                img(src='./assets/images/gallery2.png')
            .gallery__container__right__item.swiper-slide.gallery-swiper-slide
                img(src='./assets/images/gallery3.png')
            .gallery__container__right__item.swiper-slide.gallery-swiper-slide
                img(src='./assets/images/gallery4.png')
            .gallery__container__right__item.swiper-slide.gallery-swiper-slide
                img(src='./assets/images/gallery5.png')
        .swiper-btn-block.gallery__swiper-btn-block
            button.swiper-btn.gallery-swiper-btn_prev.btn-arrow(type='button')
                svg(width='14' height='14' viewbox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M11.7137 7H2.28516' stroke='#475467' stroke-width='0.857143' stroke-linecap='round' stroke-linejoin='round')
                    path(d='M6.1423 3.14282L2.28516 6.99997L6.1423 10.8571' stroke='#475467' stroke-width='0.857143' stroke-linecap='round' stroke-linejoin='round')
            button.swiper-btn.gallery-swiper-btn.gallery-swiper-btn_next.btn-arrow(type='button')
                svg(width='14' height='14' viewbox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M2.28516 7H11.7137' stroke='#475467' stroke-width='0.857143' stroke-linecap='round' stroke-linejoin='round')
                    path(d='M7.85742 3.14282L11.7146 6.99997L7.85742 10.8571' stroke='#475467' stroke-width='0.857143' stroke-linecap='round' stroke-linejoin='round')