header.header-1-4.block
  .header-1-4__inner
    .header-1-4__container.container
      a.header-1-4__logo(href='/index.html')
        img.header-1-4__logo-img(src='@/assets/images/gobopro-logo.svg' alt='GoboPro Logo')
      nav.header-1-4__nav
        ul.header-1-4__nav-list
          li.header-1-4__nav-item.nav-popup(data-toggle='product')
            a.header-1-4__nav-item__link(href='#') Produkte
            button.header-1-4__nav-popup__btn(type='button')
              <svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 0.475877C0.5 0.354091 0.546041 0.232305 0.638865 0.139481C0.824514 -0.0461687 1.12527 -0.0461687 1.31092 0.139481L6.49944 5.32801L11.6887 0.139481C11.8744 -0.0461682 12.1751 -0.0461682 12.3608 0.139481C12.5464 0.32513 12.5464 0.625882 12.3608 0.811532L6.83584 6.33646C6.65019 6.5221 6.34944 6.5221 6.16379 6.33646L0.638865 0.811531C0.546041 0.719449 0.5 0.597663 0.5 0.475877Z" fill="#7C7D84"/>
              </svg>
            ul.header-1-4__nav-submenu
              .container
                ul.megamenu__container-product__list
                  li.megamenu__container-product__list__item
                    a.megamenu__container-product__list__item__title(href="/products.html")
                      | Alle Produkte
                    ul.megamenu__container-product__list__item__links 
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link(href="/products.html")
                          | Gobos
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link(href="/products.html")
                          | Projektoren
                  li.megamenu__container-product__list__item
                    a.megamenu__container-product__list__item__title(href="/industry.html") 
                      | Industrie
                    ul.megamenu__container-product__list__item__links 
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link(href="/industry.html")
                          | Verkehrsschilder
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link(href="/industry.html")
                          | Für Fabriken
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link(href="/industry.html")
                          | Für Lagerhallen
                  li.megamenu__container-product__list__item
                    a.megamenu__container-product__list__item__title(href="/navigation.html")
                      | Navigation und Sicherheit
                    ul.megamenu__container-product__list__item__links 
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link(href="/navigation.html")
                          | Verkehrsschilder
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link(href="/navigation.html")
                          | Projektierter Zebrastreifen
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link(href="/navigation.html")
                          | Für Krankenhäuser
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link(href="/navigation.html")
                          | Für die Verwaltung
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link(href="/navigation.html")
                          | Für Flughäfen
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link(href="/navigation.html")
                          | Für Straßen und Reparaturen
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link(href="/navigation.html")
                          | Für Fabriken
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link(href="/navigation.html")
                          | Für Lagerhallen
                  li.megamenu__container-product__list__item
                    a.megamenu__container-product__list__item__title(href="/outside.html")
                      | Außen
                    ul.megamenu__container-product__list__item__links 
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link
                          | Bars
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link
                          | Geschäfte
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link
                          | Stadien
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link
                          | Parks
                  li.megamenu__container-product__list__item
                    a.megamenu__container-product__list__item__title(href="/inside.html")
                      | Innen
                    ul.megamenu__container-product__list__item__links 
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link
                          | Einkaufszentren
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link
                          | Messen
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link
                          | Bars, Restaurants
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link
                          | Parks
                  li.megamenu__container-product__list__item
                    a.megamenu__container-product__list__item__title(href="/decorative.html") 
                      | Dekorativ
                    ul.megamenu__container-product__list__item__links 
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link
                          | Feiertage
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link
                          | Veranstaltungen
                      li.megamenu__container-product__list__item__links-link
                        a.megamenu__container-product__link
                          | Dekorativ
          li.header-1-4__nav-item.nav-popup-item
            a.header-1-4__nav-link(href='/about.html')
              | &Uuml;ber
              | Gobos
          li.header-1-4__nav-item.nav-popup(data-toggle='industry')
            a.header-1-4__nav-item__link(href='#') Unternehmen
            button.header-1-4__nav-popup__btn(type='button')
              <svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 0.475877C0.5 0.354091 0.546041 0.232305 0.638865 0.139481C0.824514 -0.0461687 1.12527 -0.0461687 1.31092 0.139481L6.49944 5.32801L11.6887 0.139481C11.8744 -0.0461682 12.1751 -0.0461682 12.3608 0.139481C12.5464 0.32513 12.5464 0.625882 12.3608 0.811532L6.83584 6.33646C6.65019 6.5221 6.34944 6.5221 6.16379 6.33646L0.638865 0.811531C0.546041 0.719449 0.5 0.597663 0.5 0.475877Z" fill="#7C7D84"/>
              </svg>
            ul.header-1-4__nav-submenu
              .container
                ul.megamenu__container-industry__list
                  li.megamenu__container-industry__list__item
                    a(href="/organization.html")
                      h3.megamenu__container-industry__list__item-title
                        | Über uns
                      .megamenu__container-industry__list__item-picture
                        img(src='./assets/images/about-us.jpg' alt="Category")
                  li.megamenu__container-industry__list__item
                    a(href="/industry.html")
                      h3.megamenu__container-industry__list__item-title
                        | Für Partner
                      .megamenu__container-industry__list__item-picture
                        img(src='./assets/images/for-partners.jpg' alt="Category")
                  li.megamenu__container-industry__list__item
                    a(href="/downloads.html")
                      h3.megamenu__container-industry__list__item-title
                        | Downloads
                      .megamenu__container-industry__list__item-picture
                        img(src='./assets/images/downloads.jpg' alt="Category")
                  li.megamenu__container-industry__list__item
                    a(href="/faq.html")
                      h3.megamenu__container-industry__list__item-title
                        | FAQ
                      .megamenu__container-industry__list__item-picture
                        img(src='./assets/images/faq.jpg' alt="Category")
          li.header-1-4__nav-item.nav-popup-item(data-toggle='news')
            a.header-1-4__nav-link(href='#') Aktuelles
            button.header-1-4__nav-popup__btn(type='button')
              <svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 0.475877C0.5 0.354091 0.546041 0.232305 0.638865 0.139481C0.824514 -0.0461687 1.12527 -0.0461687 1.31092 0.139481L6.49944 5.32801L11.6887 0.139481C11.8744 -0.0461682 12.1751 -0.0461682 12.3608 0.139481C12.5464 0.32513 12.5464 0.625882 12.3608 0.811532L6.83584 6.33646C6.65019 6.5221 6.34944 6.5221 6.16379 6.33646L0.638865 0.811531C0.546041 0.719449 0.5 0.597663 0.5 0.475877Z" fill="#7C7D84"/>
              </svg>
            ul.header-1-4__nav-submenu
              .container
                ul.megamenu__container-news__list
                  li.megamenu__container-news__list__item
                    a(href="/news.html")
                      h3.megamenu__container-news__list__item-title
                        | News
                      .megamenu__container-news__list__item-picture
                        img(src='./assets/images/news.jpg' alt="Category")
                  li.megamenu__container-news__list__item
                    a(href="/portfolio.html")
                      h3.megamenu__container-news__list__item-title
                        | Portfolio
                      .megamenu__container-news__list__item-picture
                        img(src='./assets/images/portfolio.jpg' alt="Category")
                  li.megamenu__container-news__list__item
                    a(href="/partners.html")
                      h3.megamenu__container-news__list__item-title
                        | Kunden
                      .megamenu__container-news__list__item-picture
                        img(src='./assets/images/kunden.jpg' alt="Category")
          li.header-1-4__nav-item.nav-popup-item
            a.header-1-4__nav-link(href='/contact.html') Kontakt
      .header-1-4__right
        .header-1-4__contacts
          a.header-1-4__contacts-lang.btn.btn_medium(href='#')
            | De
            .header-1-4__contacts-lang__dropdown
              span.header-language En
          button.header-1-4__contacts-btn.btn.btn_medium.btn_black.take__quiz(type='button')
            | Konfigurator
            svg(viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(stroke='currentColor' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round' d='M3.33398 7.99992H12.6673M12.6673 7.99992L8.00065 3.33325M12.6673 7.99992L8.00065 12.6666')
        .header-1-4__contacts.header-1-4__contacts-communication
          a.header-1-4__contacts-info(href='tel:+4973039403952')
            | +49 7303 9403
            | 952
          a.header-1-4__contacts-info(href='mailto:info@gobopro.de') info@gobopro.de
        .header-1-4__contacts-mobile
          button.btn.header-1-4__contacts-mobile__button
            a(href='tel:+4973039403952')
              svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M20 4H4C2.9 4 2.01 4.9 2.01 6L2 18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6C22 4.9 21.1 4 20 4ZM20 18H4V8L12 13L20 8V18ZM12 11L4 6H20L12 11Z' fill='#6CEABD')
          button.btn.btn-accent.header-1-4__contacts-mobile__button
            a(href='mailto:info@gobopro.de')
              svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M19.231 15.26L16.691 14.97C16.3924 14.9349 16.0896 14.968 15.8056 15.0667C15.5215 15.1654 15.2635 15.3273 15.051 15.54L13.211 17.38C10.3722 15.9362 8.0648 13.6288 6.62102 10.79L8.47102 8.94001C8.90102 8.51001 9.11102 7.91001 9.04102 7.30001L8.75102 4.78001C8.69432 4.29219 8.46021 3.84225 8.09325 3.51586C7.7263 3.18947 7.25213 3.00943 6.76102 3.01001H5.03102C3.90102 3.01001 2.96102 3.95001 3.03102 5.08001C3.56102 13.62 10.391 20.44 18.921 20.97C20.051 21.04 20.991 20.1 20.991 18.97V17.24C21.001 16.23 20.241 15.38 19.231 15.26Z' fill='#1A1B1F')
      .menu
        button.menu__burger(type='button')
          img.menu__burger__icon(src='./assets/images/hamburger-open.svg' alt="Menu")
        .menu__content
          .menu__container.container
            .menu__container__inner
              ul.header-acc.menu__nav
                li.menu__nav-item(data-acc="product")
                  a.menu__nav-link(href='#') Produkte
                  button.menu__nav-btn(type='button')
                    svg(width='13' height='7' viewbox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M0.5 0.475877C0.5 0.354091 0.546041 0.232305 0.638865 0.139481C0.824514 -0.0461687 1.12527 -0.0461687 1.31092 0.139481L6.49944 5.32801L11.6887 0.139481C11.8744 -0.0461682 12.1751 -0.0461682 12.3608 0.139481C12.5464 0.32513 12.5464 0.625882 12.3608 0.811532L6.83584 6.33646C6.65019 6.5221 6.34944 6.5221 6.16379 6.33646L0.638865 0.811531C0.546041 0.719449 0.5 0.597663 0.5 0.475877Z' fill='#7C7D84')
                li.menu__nav-item.menu__nav-item_normal
                  a.menu__nav-link(href='#')
                    | &Uuml;ber
                    | Gobos
                li.menu__nav-item(data-acc="industry")
                  a.menu__nav-link(href='#') Unternehmen
                  button.menu__nav-btn(type='button')
                    svg(width='13' height='7' viewbox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M0.5 0.475877C0.5 0.354091 0.546041 0.232305 0.638865 0.139481C0.824514 -0.0461687 1.12527 -0.0461687 1.31092 0.139481L6.49944 5.32801L11.6887 0.139481C11.8744 -0.0461682 12.1751 -0.0461682 12.3608 0.139481C12.5464 0.32513 12.5464 0.625882 12.3608 0.811532L6.83584 6.33646C6.65019 6.5221 6.34944 6.5221 6.16379 6.33646L0.638865 0.811531C0.546041 0.719449 0.5 0.597663 0.5 0.475877Z' fill='#7C7D84')
                li.menu__nav-item(data-acc="news")
                  a.menu__nav-link(href='#') Aktuelles
                  button.menu__nav-btn(type='button')
                    svg(width='13' height='7' viewbox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M0.5 0.475877C0.5 0.354091 0.546041 0.232305 0.638865 0.139481C0.824514 -0.0461687 1.12527 -0.0461687 1.31092 0.139481L6.49944 5.32801L11.6887 0.139481C11.8744 -0.0461682 12.1751 -0.0461682 12.3608 0.139481C12.5464 0.32513 12.5464 0.625882 12.3608 0.811532L6.83584 6.33646C6.65019 6.5221 6.34944 6.5221 6.16379 6.33646L0.638865 0.811531C0.546041 0.719449 0.5 0.597663 0.5 0.475877Z' fill='#7C7D84')
                li.menu__nav-item.menu__nav-item_normal
                  a.menu__nav-link(href='#') Kontakt
              .header-1-4__nav-inner__product
                button.menu__back.menu__back-product.btn 
                  img(src='./assets/images/menu-back.svg' alt="Go back")
                  | Zurück
                .header-1-4__nav-inner__container
                  .header-1-4__nav-item__link__mobile(href='#') 
                    a Alle Produkte
                    button.menu__nav-btn__mobile.acc__trigger.menu__acc__trigger(type='button')
                      svg(width='13' height='7' viewbox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M0.5 0.475877C0.5 0.354091 0.546041 0.232305 0.638865 0.139481C0.824514 -0.0461687 1.12527 -0.0461687 1.31092 0.139481L6.49944 5.32801L11.6887 0.139481C11.8744 -0.0461682 12.1751 -0.0461682 12.3608 0.139481C12.5464 0.32513 12.5464 0.625882 12.3608 0.811532L6.83584 6.33646C6.65019 6.5221 6.34944 6.5221 6.16379 6.33646L0.638865 0.811531C0.546041 0.719449 0.5 0.597663 0.5 0.475877Z' fill='#7C7D84')
                  .header-acc__body.header-acc__body-closed
                    ul.menu__more
                      li.menu__more-item
                        a.menu__more-link(href='/products.html')
                          | Gobos
                      li.menu__more-item
                        a.menu__more-link(href='/products.html')
                          | Projektoren
                  .header-1-4__nav-item__link__mobile(href='#') 
                    a Industrie
                    button.menu__nav-btn__mobile.acc__trigger.menu__acc__trigger(type='button')
                      svg(width='13' height='7' viewbox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M0.5 0.475877C0.5 0.354091 0.546041 0.232305 0.638865 0.139481C0.824514 -0.0461687 1.12527 -0.0461687 1.31092 0.139481L6.49944 5.32801L11.6887 0.139481C11.8744 -0.0461682 12.1751 -0.0461682 12.3608 0.139481C12.5464 0.32513 12.5464 0.625882 12.3608 0.811532L6.83584 6.33646C6.65019 6.5221 6.34944 6.5221 6.16379 6.33646L0.638865 0.811531C0.546041 0.719449 0.5 0.597663 0.5 0.475877Z' fill='#7C7D84')
                  .header-acc__body.header-acc__body-closed
                    ul.menu__more
                      li.menu__more-item
                        a.menu__more-link(href='/industry.html')
                          | Verkehrsschilder
                      li.menu__more-item
                        a.menu__more-link(href='/industry.html')
                          | Für Fabriken
                      li.menu__more-item
                        a.menu__more-link(href='/industry.html')
                          | Für Lagerhallen
                  .header-1-4__nav-item__link__mobile(href='#') 
                    a Navigation und Sicherheit
                    button.menu__nav-btn__mobile.acc__trigger.menu__acc__trigger(type='button')
                      svg(width='13' height='7' viewbox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M0.5 0.475877C0.5 0.354091 0.546041 0.232305 0.638865 0.139481C0.824514 -0.0461687 1.12527 -0.0461687 1.31092 0.139481L6.49944 5.32801L11.6887 0.139481C11.8744 -0.0461682 12.1751 -0.0461682 12.3608 0.139481C12.5464 0.32513 12.5464 0.625882 12.3608 0.811532L6.83584 6.33646C6.65019 6.5221 6.34944 6.5221 6.16379 6.33646L0.638865 0.811531C0.546041 0.719449 0.5 0.597663 0.5 0.475877Z' fill='#7C7D84')
                  .header-acc__body.header-acc__body-closed
                    ul.menu__more
                      li.menu__more-item
                        a.menu__more-link(href='/navigation.html')
                          | Verkehsschilder
                      li.menu__more-item
                        a.menu__more-link(href='/navigation.html')
                          | Projektierter Zebrastreifen
                      li.menu__more-item
                        a.menu__more-link(href='/navigation.html')
                          | Für Krankenhäuser
                      li.menu__more-item
                        a.menu__more-link(href='/navigation.html')
                          | Für die Verwaltung
                      li.menu__more-item
                        a.menu__more-link(href='/navigation.html')
                          | Für Flughäfen
                      li.menu__more-item
                        a.menu__more-link(href='/navigation.html')
                          | Für Straßen und Reparaturen
                      li.menu__more-item
                        a.menu__more-link(href='/navigation.html')
                          | Für Fabriken
                      li.menu__more-item
                        a.menu__more-link(href='/navigation.html')
                          | Für Lagerhallen
                  .header-1-4__nav-item__link__mobile(href='#') 
                    a Außen
                    button.menu__nav-btn__mobile.acc__trigger.menu__acc__trigger(type='button')
                      svg(width='13' height='7' viewbox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M0.5 0.475877C0.5 0.354091 0.546041 0.232305 0.638865 0.139481C0.824514 -0.0461687 1.12527 -0.0461687 1.31092 0.139481L6.49944 5.32801L11.6887 0.139481C11.8744 -0.0461682 12.1751 -0.0461682 12.3608 0.139481C12.5464 0.32513 12.5464 0.625882 12.3608 0.811532L6.83584 6.33646C6.65019 6.5221 6.34944 6.5221 6.16379 6.33646L0.638865 0.811531C0.546041 0.719449 0.5 0.597663 0.5 0.475877Z' fill='#7C7D84')
                  .header-acc__body.header-acc__body-closed
                    ul.menu__more
                      li.menu__more-item
                        a.menu__more-link(href='#')
                          | Bars
                      li.menu__more-item
                        a.menu__more-link(href='#')
                          | Geschäfte
                      li.menu__more-item
                        a.menu__more-link(href='#')
                          | Stadien
                      li.menu__more-item
                        a.menu__more-link(href='#')
                          | Parks
                  .header-1-4__nav-item__link__mobile(href='#') 
                    a Innen
                    button.menu__nav-btn__mobile.acc__trigger.menu__acc__trigger(type='button')
                      svg(width='13' height='7' viewbox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M0.5 0.475877C0.5 0.354091 0.546041 0.232305 0.638865 0.139481C0.824514 -0.0461687 1.12527 -0.0461687 1.31092 0.139481L6.49944 5.32801L11.6887 0.139481C11.8744 -0.0461682 12.1751 -0.0461682 12.3608 0.139481C12.5464 0.32513 12.5464 0.625882 12.3608 0.811532L6.83584 6.33646C6.65019 6.5221 6.34944 6.5221 6.16379 6.33646L0.638865 0.811531C0.546041 0.719449 0.5 0.597663 0.5 0.475877Z' fill='#7C7D84')
                  .header-acc__body.header-acc__body-closed
                    ul.menu__more
                      li.menu__more-item
                        a.menu__more-link(href='#')
                          | Einkaufszentren
                      li.menu__more-item
                        a.menu__more-link(href='#')
                          | Messen
                      li.menu__more-item
                        a.menu__more-link(href='#')
                          | Bars, Restaurants
                  .header-1-4__nav-item__link__mobile(href='#') 
                    a Dekorativ
                    button.menu__nav-btn__mobile.acc__trigger.menu__acc__trigger(type='button')
                      svg(width='13' height='7' viewbox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M0.5 0.475877C0.5 0.354091 0.546041 0.232305 0.638865 0.139481C0.824514 -0.0461687 1.12527 -0.0461687 1.31092 0.139481L6.49944 5.32801L11.6887 0.139481C11.8744 -0.0461682 12.1751 -0.0461682 12.3608 0.139481C12.5464 0.32513 12.5464 0.625882 12.3608 0.811532L6.83584 6.33646C6.65019 6.5221 6.34944 6.5221 6.16379 6.33646L0.638865 0.811531C0.546041 0.719449 0.5 0.597663 0.5 0.475877Z' fill='#7C7D84')
                  .header-acc__body.header-acc__body-closed
                    ul.menu__more
                      li.menu__more-item
                        a.menu__more-link(href='#')
                          | Feiertage
                      li.menu__more-item
                        a.menu__more-link(href='#')
                          | Veranstaltungen
                      li.menu__more-item
                        a.menu__more-link(href='#')
                          | Dekorativ
              .header-1-4__nav-inner__industry
                button.menu__back.menu__back-industry.btn 
                  img(src='./assets/images/menu-back.svg' alt="Go back")
                  | Zurück
                .header-1-4__nav-inner__container
                  ul.header-1-4__nav-inner__container__list
                    li.header-1-4__nav-inner__container__list__item
                      a.header-1-4__nav-item__link__mobile(href='/organization.html') Über uns
                    li.header-1-4__nav-inner__container__list__item
                      a.header-1-4__nav-item__link__mobile(href='#') Für Partner
                    li.header-1-4__nav-inner__container__list__item
                      a.header-1-4__nav-item__link__mobile(href='/downloads.hmtl') Downloads
                    li.header-1-4__nav-inner__container__list__item
                      a.header-1-4__nav-item__link__mobile(href='/faq.html') FAQ
              .header-1-4__nav-inner__news
                button.menu__back.menu__back-news.btn 
                  img(src='./assets/images/menu-back.svg' alt="Go back")
                  | Zurück
                .header-1-4__nav-inner__container
                  ul.header-1-4__nav-inner__container__list
                    li.header-1-4__nav-inner__container__list__item
                      a.header-1-4__nav-item__link__mobile(href='/news.html') News
                    li.header-1-4__nav-inner__container__list__item
                      a.header-1-4__nav-item__link__mobile(href='/portfolio.html') Portfolio
                    li.header-1-4__nav-inner__container__list__item
                      a.header-1-4__nav-item__link__mobile(href='/partners.html') Kunden
              .menu__bottom
                .menu__bottom__lang 
                  a.header-1-4__contacts-lang.btn.btn_medium(href='#')
                    | De
                  a.header-1-4__contacts-lang.btn.btn_medium(href='#')
                    | En
                .menu__bottom__config 
                  button.btn.btn-accent.take__quiz
                    | Konfigurator
