
//- block vars
//-   - const cssName = 'hero-1';
//-   - const jsName = 'hero-1';

block content
  section.hero-1.container.block
    .hero-1__text
      h1.hero-1__text-title
        span.text-accent Lighting projections
        |  for advertising
      p.hero-1__text-subtitle
        | Haben Sie noch keine Erfahrung mit Projektoren von GoboPro und wissen Sie nicht, wie sie die
        | Vorteile von
        | Lichtprojektionen f&uuml;r Ihr Unternehmen nutzen k&ouml;nnen? 
        a(href='#').hero-1__link
          span.text-accent
            | Hier
            | informieren!
      .hero-1__tags
        span.hero-1__tags-item Gastst&auml;tten
        span.hero-1__tags-item Autoh&auml;user
        span.hero-1__tags-item Sch&ouml;nheitssalons
        span.hero-1__tags-item Fitnessclubs
        span.hero-1__tags-item Reiseb&uuml;ros
        span.hero-1__tags-item Architekturb&uuml;ros
        span.hero-1__tags-item Events
      .hero-1__buttons
        button.hero-1__buttons-btn.btn-accent(type='button')
          | Unverbindlich
          | Anfragen
        button.hero-1__buttons-btn(type='button') Produkte erkunden
    .hero-1__image
      img(src='@/assets/images/gobopro-hero.png')