section#info.info.section
    .info__container.container
        .info__container__item
            .info__container__item-picture
                img(src='./assets/images/benefits-singular.png' alt='benefit')
            .info__container__item-content
                h3.info__container__item-content__title
                    | &Uuml;ber 
                    span.text-accent Gobos
                p.info__container__item-content__desc
                    | Es ist sehr wichtig, ein hochwertiges Gobo zu verwenden.
                    | Nachdem Sie sich f&uuml;r einen Gobo Projektor entschieden haben, m&uuml;ssen Sie nur noch ein Bild daf&uuml;r
                    | erstellen lassen, das dann auf das Gobo gedruckt wird. Heute gibt es zwei Arten von Gobos: Metall und
                    | Glas.
                button.info__btn.btn.btn-regular Mehr zu Gobo