section#lens.lens.section
    .lens__container.container
        .lens__container__item
            .lens__container__item-picture#product-picture
                img(src='@/assets/images/lens.png' alt='Product')
            .lens__container__item-content
                .lens__container__item-content__info
                    h3.lens__container__item-content__info__name#lens-title Glasgobo in zwei Farben
                    p.lens__container__item-content__info__price#lens-price 70,00 &euro;
                    .lens__container__item-content__info__actions#lens-buttons
                        button.btn.btn-accent Unverbindlich Anfragen
                    .lens__container__item-content__info__diameter#lens-diameter
                        h3.lens__container__item-content__info__diameter-title Standard Durchmesser:
                        .lens__container__item-content__info__diameter__items
                            span.lens__container__item-content__info__diameter__items__item 30 mm
                            span.lens__container__item-content__info__diameter__items__item 37 mm
                            span.lens__container__item-content__info__diameter__items__item 48 mm
                        .lens__container__item-content__info__disclaimer 
                            span.lens-disclaimer
                                img(src='@/assets/images/info-icon.svg' alt="Disclaimer")
                                span Herstellung von Glasgobo in allen Größen
                    .lens__container__item-content__info__palette
                        h3.lens__container__item-content__info__palette-title Farbpalette
                        .lens__container__item-content__info__palette-tabs
                             button#white-tab.lens__container__item-content__info__palette-tabs__item
                                |Weiß
                             button#black-tab.lens__container__item-content__info__palette-tabs__item--active
                                |Schwarz
                        .lens__container__item-content__info__palette-colors
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 1
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 2
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 3
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 4
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 5
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item-empty
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 1
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 1
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 1
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 1
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 1
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 1
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 1
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 1
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item-empty
                            .lens__container__item-content__info__palette-colors__item-empty
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 1
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 1
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 1
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 1
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 1
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 1
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 1
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 1
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 1
                                p ColorName
                            .lens__container__item-content__info__palette-colors__item-empty
                            .lens__container__item-content__info__palette-colors__item-empty
                            .lens__container__item-content__info__palette-colors__item(style="color: #fff")
                                p 1
                                p ColorName
                    .lens__container__item-content__info__desc
                        h3.lens__container__item-content__info__desc-title Beschreibung 
                        p Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese durcheinander warf um ein Musterbuch zu erstellen.
                    
                