.megamenu 
    .megamenu__container.container 
        .megamenu__container-product
            ul.megamenu__container-product__list
                li.megamenu__container-product__list__item
                    .megamenu__container-product__list__item__title 
                        | Alle Produkte
                    ul.megamenu__container-product__list__item__links 
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link(href="/products.html")
                                | Gobos
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link(href="/products.html")
                                | Projektoren
                li.megamenu__container-product__list__item
                    .megamenu__container-product__list__item__title 
                        | Industrie
                    ul.megamenu__container-product__list__item__links 
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link(href="/industry.html")
                                | Verkehrsschilder
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link(href="/industry.html")
                                | Für Fabriken
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link(href="/industry.html")
                                | Für Lagerhallen
                li.megamenu__container-product__list__item
                    .megamenu__container-product__list__item__title 
                        | Navigation und Sicherheit
                    ul.megamenu__container-product__list__item__links 
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link(href="/navigation.html")
                                | Verkehrsschilder
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link(href="/navigation.html")
                                | Projektierter Zebrastreifen
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link(href="/navigation.html")
                                | Für Krankenhäuser
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link(href="/navigation.html")
                                | Für die Verwaltung
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link(href="/navigation.html")
                                | Für Flughäfen
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link(href="/navigation.html")
                                | Für Straßen und Reparaturen
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link(href="/navigation.html")
                                | Für Fabriken
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link(href="/navigation.html")
                                | Für Lagerhallen
                li.megamenu__container-product__list__item
                    .megamenu__container-product__list__item__title 
                        | Außen
                    ul.megamenu__container-product__list__item__links 
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link
                                | Bars
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link
                                | Geschäfte
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link
                                | Stadien
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link
                                | Parks
                li.megamenu__container-product__list__item
                    .megamenu__container-product__list__item__title 
                        | Innen
                    ul.megamenu__container-product__list__item__links 
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link
                                | Einkaufszentren
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link
                                | Messen
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link
                                | Bars, Restaurants
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link
                                | Parks
                li.megamenu__container-product__list__item
                    .megamenu__container-product__list__item__title 
                        | Dekorativ
                    ul.megamenu__container-product__list__item__links 
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link
                                | Feiertage
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link
                                | Veranstaltungen
                        li.megamenu__container-product__list__item__links-link
                            a.megamenu__container-product__link
                                | Dekorativ
        .megamenu__container-industry
            ul.megamenu__container-industry__list
                li.megamenu__container-industry__list__item
                    a(href="/organization.html")
                        h3.megamenu__container-industry__list__item-title
                            | Über uns
                        .megamenu__container-industry__list__item-picture
                            img(src='./assets/images/megamenu-placeholder.png' alt="Category")
                li.megamenu__container-industry__list__item
                    a(href="/industry.html")
                        h3.megamenu__container-industry__list__item-title
                            | Für Partner
                        .megamenu__container-industry__list__item-picture
                            img(src='./assets/images/megamenu-placeholder.png' alt="Category")
                li.megamenu__container-industry__list__item
                    a(href="/downloads.html")
                        h3.megamenu__container-industry__list__item-title
                            | Downloads
                        .megamenu__container-industry__list__item-picture
                            img(src='./assets/images/megamenu-placeholder.png' alt="Category")
                li.megamenu__container-industry__list__item
                    a(href="/faq.html")
                        h3.megamenu__container-industry__list__item-title
                            | FAQ
                        .megamenu__container-industry__list__item-picture
                            img(src='./assets/images/megamenu-placeholder.png' alt="Category")
        .megamenu__container-news
            ul.megamenu__container-news__list
                li.megamenu__container-news__list__item
                    a(href="/news.html")
                        h3.megamenu__container-news__list__item-title
                            | News
                        .megamenu__container-news__list__item-picture
                            img(src='./assets/images/megamenu-placeholder-news.png' alt="Category")
                li.megamenu__container-news__list__item
                    a(href="/portfolio.html")
                        h3.megamenu__container-news__list__item-title
                            | Portfolio
                        .megamenu__container-news__list__item-picture
                            img(src='./assets/images/megamenu-placeholder-news.png' alt="Category")
                li.megamenu__container-news__list__item
                    a(href="/partners.html")
                        h3.megamenu__container-news__list__item-title
                            | Kunden
                        .megamenu__container-news__list__item-picture
                            img(src='./assets/images/megamenu-placeholder-news.png' alt="Category")