.mobile-filter.container 
    .mobile-filter__container
        button.mobile-filter__back.btn 
            img(src='./assets/images/menu-back.svg' alt="Go back")
            | Filter
        .mobile-filter__content
            .mobile-filter__content-item
                .mobile-filter__content-item__title Serie
                .mobile-filter__content-item__options
                    .mobile-filter__content-item__options__option GBP-Serie
                    .mobile-filter__content-item__options__option MH-Serie
                    .mobile-filter__content-item__options__option X-Serie
            .mobile-filter__content-item 
                .mobile-filter__content-item__toggle 
                    span Fernbedienung
                    label.toggle
                        input.mobile-filter__switch(type="checkbox")
                        span.toggle-thumb.round
            .mobile-filter__content-item 
                .mobile-filter__content-item__toggle 
                    span Gobo-Wechsler
                    label.toggle
                        input.mobile-filter__switch(type="checkbox")
                        span.toggle-thumb.round
                .mobile-filter__content-item__options
                    .mobile-filter__content-item__options__option 3
                    .mobile-filter__content-item__options__option 4
                    .mobile-filter__content-item__options__option 3-7
                    .mobile-filter__content-item__options__option 3-9
            .mobile-filter__content-item
                .mobile-filter__content-item__title Projektionsentfernung
                .mobile-filter__content-item__range
                    .slider.sliderFilter
                        span.rangeValueFilter
                        span.rangeMaxValueFilter 18M
                        input#fader1(type="range" min="2" max="18" value="2" step="2" list="rangesettings")
                        datalist#rangesettings 
                            option 2
                            option 4
                            option 6
                            option 8
                            option 10
                            option 12
                            option 14
                            option 16
                            option 18
            .mobile-filter__content-item 
                .mobile-filter__content-item__toggle 
                    span Bildrotation
                    label.toggle
                        input.mobile-filter__switch(type="checkbox")
                        span.toggle-thumb.round
                .mobile-filter__content-item__options
                    .mobile-filter__content-item__options__option Beidseitig
                    .mobile-filter__content-item__options__option Einseitig
            btn.mobile-filter__apply.btn.btn-accent
                | Anwenden
