section.necessities
    .container
        h2.necessities__title
            | Die Vorteile
        -
            const stepsList = [
                {
                    name: 'Safety First',
                    desc: 'Geben Sie Besuchern und Mitarbeitern durch visuelle Unterstützung klare Anweisungen welche Wege sicher sind, wo sie halten müssen oder wie sie zu einem bestimmten Punkt navigieren können – sichtbar und nachhaltig.​',
                },
                {
                    name: 'Kosten sparen',
                    desc: 'Unsere Gobo-Projektoren bieten die beste und gleiche Leistung Tag für Tag, ohne auf Sicherheit zu verzichten. Sollte der Projektor ausfallen profitieren Sie von unserer umfassenden Garantie und der einfachen Reparatur – ähnliche wie bei einer herkömmlichen Lampe.',
                },
                {
                    name: 'Aus jeder Entfernung',
                    desc: 'Wir beraten Sie persönlich und besuchen Sie gerne vor Ort, um sicherzustellen, dass Sie genau den Gobo-Projektor in Ihrem Unternehmen verwenden, der zum Anwendungszweck passt. So garantieren wir Ihnen perfekte Sichtbarkeit – selbst aus großer Entfernung.',
                },
            ];
        ul.necessities__container
            each step in stepsList 
                li.necessities__container__item
                    .necessities__container__item__icon
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Symbol">
                                <path id="Vector" d="M29.7562 30.6562L25.4062 42.6188C25.2997 42.9058 25.1078 43.1534 24.8564 43.3282C24.605 43.5031 24.3062 43.5968 24 43.5968C23.6938 43.5968 23.3949 43.5031 23.1435 43.3282C22.8921 43.1534 22.7003 42.9058 22.5937 42.6188L18.2437 30.6562C18.1677 30.4501 18.0479 30.2628 17.8925 30.1074C17.7372 29.952 17.5499 29.8322 17.3437 29.7562L5.38122 25.4062C5.09415 25.2997 4.84658 25.1078 4.67174 24.8565C4.49691 24.6051 4.4032 24.3062 4.4032 24C4.4032 23.6938 4.49691 23.3949 4.67174 23.1435C4.84658 22.8922 5.09415 22.7003 5.38122 22.5938L17.3437 18.2438C17.5499 18.1678 17.7372 18.048 17.8925 17.8926C18.0479 17.7372 18.1677 17.5499 18.2437 17.3438L22.5937 5.38125C22.7003 5.09419 22.8921 4.84661 23.1435 4.67177C23.3949 4.49694 23.6938 4.40323 24 4.40323C24.3062 4.40323 24.605 4.49694 24.8564 4.67177C25.1078 4.84661 25.2997 5.09419 25.4062 5.38125L29.7562 17.3438C29.8322 17.5499 29.952 17.7372 30.1074 17.8926C30.2628 18.048 30.45 18.1678 30.6562 18.2438L42.6187 22.5938C42.9058 22.7003 43.1534 22.8922 43.3282 23.1435C43.503 23.3949 43.5967 23.6938 43.5967 24C43.5967 24.3062 43.503 24.6051 43.3282 24.8565C43.1534 25.1078 42.9058 25.2997 42.6187 25.4062L30.6562 29.7562C30.45 29.8322 30.2628 29.952 30.1074 30.1074C29.952 30.2628 29.8322 30.4501 29.7562 30.6562V30.6562Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>
                    div
                        h3.necessities__container__item__name=step.name
                        p.necessities__container__item__desc=step.desc
        ul.necessities__container__mobile.swiper.necessities-swiper
            .swiper-wrapper
                each step in stepsList
                    li.necessities__container__item.swiper-slide.necessities-swiper-slide
                        .necessities__container__item__icon
                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="Symbol">
                                    <path id="Vector" d="M29.7562 30.6562L25.4062 42.6188C25.2997 42.9058 25.1078 43.1534 24.8564 43.3282C24.605 43.5031 24.3062 43.5968 24 43.5968C23.6938 43.5968 23.3949 43.5031 23.1435 43.3282C22.8921 43.1534 22.7003 42.9058 22.5937 42.6188L18.2437 30.6562C18.1677 30.4501 18.0479 30.2628 17.8925 30.1074C17.7372 29.952 17.5499 29.8322 17.3437 29.7562L5.38122 25.4062C5.09415 25.2997 4.84658 25.1078 4.67174 24.8565C4.49691 24.6051 4.4032 24.3062 4.4032 24C4.4032 23.6938 4.49691 23.3949 4.67174 23.1435C4.84658 22.8922 5.09415 22.7003 5.38122 22.5938L17.3437 18.2438C17.5499 18.1678 17.7372 18.048 17.8925 17.8926C18.0479 17.7372 18.1677 17.5499 18.2437 17.3438L22.5937 5.38125C22.7003 5.09419 22.8921 4.84661 23.1435 4.67177C23.3949 4.49694 23.6938 4.40323 24 4.40323C24.3062 4.40323 24.605 4.49694 24.8564 4.67177C25.1078 4.84661 25.2997 5.09419 25.4062 5.38125L29.7562 17.3438C29.8322 17.5499 29.952 17.7372 30.1074 17.8926C30.2628 18.048 30.45 18.1678 30.6562 18.2438L42.6187 22.5938C42.9058 22.7003 43.1534 22.8922 43.3282 23.1435C43.503 23.3949 43.5967 23.6938 43.5967 24C43.5967 24.3062 43.503 24.6051 43.3282 24.8565C43.1534 25.1078 42.9058 25.2997 42.6187 25.4062L30.6562 29.7562C30.45 29.8322 30.2628 29.952 30.1074 30.1074C29.952 30.2628 29.8322 30.4501 29.7562 30.6562V30.6562Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                            </svg>
                        div
                            h3.necessities__container__item__name=step.name
                            p.necessities__container__item__desc=step.desc
