section.blog-3-3.section.block
    .blog-3-3__container.container
        .blog-3-3__text-block
            .blog-3-3__title-block
                h2.blog-3-3__title News
                button.hero-1__buttons-btn(type='button').blog-3-3__title-btn Alle Nachrichten anzeigen
        ul.blog-3-3__list
            li
                .blog-3-3__item
                    a.blog-3-3__link(href='#')
                        picture.blog-3-3__img-wrap
                            img.blog-3-3__img(src='@/assets/images/news-1.png' alt='')
                        .blog-3-3__item-content
                            .blog-3-3__item-text-block
                                span.blog-3-3__info 22 Mai 2023
                                .blog-3-3__name-block
                                    h3.blog-3-3__name
                                        | Lassen Sie uns über Gobos sprechen
                                        svg.blog-3-3__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                            path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                p.blog-3-3__desc
                                    | Gobos sind eine erschwingliche, zuverlässige Technologie, die sich im Laufe der Zeit bewährt hat
            li
                .blog-3-3__item
                    a.blog-3-3__link(href='#')
                        picture.blog-3-3__img-wrap
                            img.blog-3-3__img(src='@/assets/images/news-2.png' alt='')
                        .blog-3-3__item-content
                            .blog-3-3__item-text-block
                                span.blog-3-3__info 22 Mai 2023
                                h3.blog-3-3__name
                                    | Lassen Sie uns über Gobos sprechen
                                    svg.blog-3-3__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                p.blog-3-3__desc
                                    | Gobos sind eine erschwingliche, zuverlässige Technologie, die sich im Laufe der Zeit bewährt hat

            li
                .blog-3-3__item
                    a.blog-3-3__link(href='#')
                        picture.blog-3-3__img-wrap
                            img.blog-3-3__img(src='@/assets/images/news-3.png' alt='')
                        .blog-3-3__item-content
                            .blog-3-3__item-text-block
                                span.blog-3-3__info 22 Mai 2023
                                .blog-3-3__name-block
                                    h3.blog-3-3__name
                                        | Lassen Sie uns über Gobos sprechen
                                        svg.blog-3-3__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                            path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                p.blog-3-3__desc
                                    | Gobos sind eine erschwingliche, zuverlässige Technologie, die sich im Laufe der Zeit bewährt hat
