section#not-found.not-found.section
    .not-found__container.container 
        .not-found__content 
            .not-found__content-icon 
                img(src="@/assets/images/not-found.svg")
            .not-found__content-text
                h2.not-found__text-title Seite nich gefunden 
                p.not-found__text-subtitle Diese Seite fehlt oder der Link wurde falsch angegeben
            button.btn.btn-regular.not-found__content-btn Zur Startseite
        .not-found__similar 
            .not-found__similar-item 
                h3.not-found__item-title Projektoren
                p.not-found__item-subtitle  Entdecken Sie den Katalog unserer Projektoren
                a.not-found__item-link 
                    | Katalog ansehen
                    img(src="@/assets/images/similar-link.svg")
            .not-found__similar-item 
                h3.not-found__item-title Für Partner
                p.not-found__item-subtitle  Erfahren Sie mehr über eine Zusammenarbeit mit uns
                a.not-found__item-link 
                    | Mehr erfahren
                    img(src="@/assets/images/similar-link.svg")
            .not-found__similar-item 
                h3.not-found__item-title Kontakt
                p.not-found__item-subtitle  Kontaktieren Sie uns, um Fragen zu stellen oder eine Beratung zu erhalten
                a.not-found__item-link 
                    | Zur Kontaktseite
                    img(src="@/assets/images/similar-link.svg")
