nav.pagination.section#pagination
    .pagination__container.container 
        #pagination-numbers
            span.pagination-number 1
            span.pagination-number 2
            span.pagination-number 3
            span.pagination-number 4
            span.pagination-number 5
            span.pagination-number 6
            span.pagination-number 7
            span.pagination-number 8
            span.pagination-number 9
            span.pagination-number 10
        .pagination-buttons
            button.pagination-button#prev-button(aria-label="Previous page" title="Previous page")
                img(src='./assets/images/pagination-arrow-left.svg' alt="Previous")
            button.pagination-button#next-button(aria-label="Next page" title="Next page")
                img(src='./assets/images/pagination-arrow-right.svg' alt="Next")
