section#partners-extended.partners-extended.section
    .partners-extended__container.container
        h2.partners-extended__container__title
            | Kunden
        .partners-extended__container__items
            .partners-extended__container__items__row
                .partners-extended__container__items__item
                    img(src='./assets/images/the-washington-post.svg' alt='Partner')
                .partners-extended__container__items__item
                    img(src='./assets/images/forbes.svg' alt='Partner')
                .partners-extended__container__items__item
                    img(src='./assets/images/gizmodo.svg' alt='Partner')
                .partners-extended__container__items__item
                    img(src='./assets/images/tech-crunch.svg' alt='Partner')
                .partners-extended__container__items__item
                    img(src='./assets/images/the-washington-post.svg' alt='Partner')
            .partners-extended__container__items__row
                .partners-extended__container__items__item
                    img(src='./assets/images/bloomberg.svg' alt='Partner')
                .partners-extended__container__items__item
                    img(src='./assets/images/gizmodo.svg' alt='Partner')
                .partners-extended__container__items__item
                    img(src='./assets/images/forbes.svg' alt='Partner')
                .partners-extended__container__items__item
                    img(src='./assets/images/the-washington-post.svg' alt='Partner')
                .partners-extended__container__items__item
                    img(src='./assets/images/tech-crunch.svg' alt='Partner')
