section.partners-2.container
    h2.partners-2__heading
        | We are trusted by
    .partners-2__block
        .partners-2__block-item
            img(src='@/assets/images/the-washington-post.svg' alt='The Washington Post')
        .partners-2__block-item
            img(src='@/assets/images/tech-crunch.svg' alt='Tech Crunch')
        .partners-2__block-item
            img(src='@/assets/images/bloomberg.svg' alt='Bloomberg')
        .partners-2__block-item
            img(src='@/assets/images/gizmodo.svg' alt='Gizmodo')
        .partners-2__block-item
            img(src='@/assets/images/forbes.svg' alt='Forbes')