section#portfolio.portfolio.section
    .portfolio__container.container
        h2.portfolio__container__title
            | Portfolio
        ul.portfolio__container__items.container#paginated-list
            li.portfolio__container__items__item
                .portfolio__item
                    a.portfolio__link(href='#')
                        picture.portfolio__img-wrap
                            img.portfolio__img(src='./assets/images/news-1.png' alt='')
                        .portfolio__item-content
                            .portfolio__item-text-block

                                .portfolio__name-block
                                    h3.portfolio__name
                                        | Lassen Sie uns &uuml;ber Gobos sprechen
                                        svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                            path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                .portfolio__item
                    a.portfolio__link(href='#')
                        picture.portfolio__img-wrap
                            img.portfolio__img(src='./assets/images/news-1.png' alt='')
                        .portfolio__item-content
                            .portfolio__item-text-block

                                .portfolio__name-block
                                    h3.portfolio__name
                                        | Lassen Sie uns &uuml;ber Gobos sprechen
                                        svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                            path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                .portfolio__item
                    a.portfolio__link(href='#')
                        picture.portfolio__img-wrap
                            img.portfolio__img(src='./assets/images/news-1.png' alt='')
                        .portfolio__item-content
                            .portfolio__item-text-block

                                .portfolio__name-block
                                    h3.portfolio__name
                                        | Lassen Sie uns &uuml;ber Gobos sprechen
                                        svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                            path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                .portfolio__item
                    a.portfolio__link(href='#')
                        picture.portfolio__img-wrap
                            img.portfolio__img(src='./assets/images/news-1.png' alt='')
                        .portfolio__item-content
                            .portfolio__item-text-block

                                .portfolio__name-block
                                    h3.portfolio__name
                                        | Lassen Sie uns &uuml;ber Gobos sprechen
                                        svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                            path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                .portfolio__item
                    a.portfolio__link(href='#')
                        picture.portfolio__img-wrap
                            img.portfolio__img(src='./assets/images/news-1.png' alt='')
                        .portfolio__item-content
                            .portfolio__item-text-block

                                .portfolio__name-block
                                    h3.portfolio__name
                                        | Lassen Sie uns &uuml;ber Gobos sprechen
                                        svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                            path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                .portfolio__item
                    a.portfolio__link(href='#')
                        picture.portfolio__img-wrap
                            img.portfolio__img(src='./assets/images/news-1.png' alt='')
                        .portfolio__item-content
                            .portfolio__item-text-block

                                .portfolio__name-block
                                    h3.portfolio__name
                                        | Lassen Sie uns &uuml;ber Gobos sprechen
                                        svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                            path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                .portfolio__item
                    a.portfolio__link(href='#')
                        picture.portfolio__img-wrap
                            img.portfolio__img(src='./assets/images/news-1.png' alt='')
                        .portfolio__item-content
                            .portfolio__item-text-block

                                .portfolio__name-block
                                    h3.portfolio__name
                                        | Lassen Sie uns &uuml;ber Gobos sprechen
                                        svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                            path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                .portfolio__item
                    a.portfolio__link(href='#')
                        picture.portfolio__img-wrap
                            img.portfolio__img(src='./assets/images/news-1.png' alt='')
                        .portfolio__item-content
                            .portfolio__item-text-block

                                .portfolio__name-block
                                    h3.portfolio__name
                                        | Lassen Sie uns &uuml;ber Gobos sprechen
                                        svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                            path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                .portfolio__item
                    a.portfolio__link(href='#')
                        picture.portfolio__img-wrap
                            img.portfolio__img(src='./assets/images/news-1.png' alt='')
                        .portfolio__item-content
                            .portfolio__item-text-block

                                .portfolio__name-block
                                    h3.portfolio__name
                                        | Lassen Sie uns &uuml;ber Gobos sprechen
                                        svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                            path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                .portfolio__item
                    a.portfolio__link(href='#')
                        picture.portfolio__img-wrap
                            img.portfolio__img(src='./assets/images/news-1.png' alt='')
                        .portfolio__item-content
                            .portfolio__item-text-block

                                .portfolio__name-block
                                    h3.portfolio__name
                                        | Lassen Sie uns &uuml;ber Gobos sprechen
                                        svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                            path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                .portfolio__item
                    a.portfolio__link(href='#')
                        picture.portfolio__img-wrap
                            img.portfolio__img(src='./assets/images/news-1.png' alt='')
                        .portfolio__item-content
                            .portfolio__item-text-block

                                .portfolio__name-block
                                    h3.portfolio__name
                                        | Lassen Sie uns &uuml;ber Gobos sprechen
                                        svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                            path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
        nav.pagination.section#pagination
            .pagination__container.container 
                #pagination-numbers
                .pagination-buttons
                    button.pagination-button#prev-button(aria-label="Previous page" title="Previous page")
                        img(src='./assets/images/pagination-arrow-left.svg' alt="Previous")
                    button.pagination-button#next-button(aria-label="Next page" title="Next page")
                        img(src='./assets/images/pagination-arrow-right.svg' alt="Next")
