section#portfolio.portfolio.section
    .portfolio__container.container
        h2.portfolio__container__title
            | Portfolio
        .portfolio__container__nav 
            .portfolio__container__nav__item 
                | Alle
            .portfolio__container__nav__item 
                | Industrie
            .portfolio__container__nav__item 
                | Navigation und Sicherheit
            .portfolio__container__nav__item 
                | Außen
            .portfolio__container__nav__item 
                | Innen
            .portfolio__container__nav__item 
                | Dekorativ
        ul.portfolio__container__items.container#paginated-list
            li.portfolio__container__items__item
                a.portfolio__link(href='./assets/images/news-1.png' data-fancybox="gallery")
                    img.portfolio__img(src='./assets/images/news-1.png' alt='')
                .portfolio__container__items__item-content
                    .portfolio__container__items__item-text-block
                        .portfolio__name-block
                            h3.portfolio__name
                                | Verkehrsschilder
                                svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                    path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                a.portfolio__link(href='./assets/images/news-2.png' data-fancybox="gallery")
                    img.portfolio__img(src='./assets/images/news-2.png' alt='')
                .portfolio__container__items__item-content
                    .portfolio__container__items__item-text-block
                        .portfolio__name-block
                            h3.portfolio__name
                                | Für Fabriken
                                svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                    path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                a.portfolio__link(href='./assets/images/news-3.png' data-fancybox="gallery")
                    img.portfolio__img(src='./assets/images/news-3.png' alt='')
                .portfolio__container__items__item-content
                    .portfolio__container__items__item-text-block
                        .portfolio__name-block
                            h3.portfolio__name
                                | Für Lagerhallen
                                svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                    path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                a.portfolio__link(href='./assets/images/news-2.png' data-fancybox="gallery")
                    img.portfolio__img(src='./assets/images/news-2.png' alt='')
                .portfolio__container__items__item-content
                    .portfolio__container__items__item-text-block
                        .portfolio__name-block
                            h3.portfolio__name
                                | Projektierter Zebrastreifen
                                svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                    path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                a.portfolio__link(href='./assets/images/news-3.png' data-fancybox="gallery")
                    img.portfolio__img(src='./assets/images/news-3.png' alt='')
                .portfolio__container__items__item-content
                    .portfolio__container__items__item-text-block
                        .portfolio__name-block
                            h3.portfolio__name
                                | Für Krankenhäuser
                                svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                    path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                a.portfolio__link(href='./assets/images/news-1.png' data-fancybox="gallery")
                    img.portfolio__img(src='./assets/images/news-1.png' alt='')
                .portfolio__container__items__item-content
                    .portfolio__container__items__item-text-block
                        .portfolio__name-block
                            h3.portfolio__name
                                | Für die Verwaltung
                                svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                    path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                a.portfolio__link(href='./assets/images/news-2.png' data-fancybox="gallery")
                    img.portfolio__img(src='./assets/images/news-2.png' alt='')
                .portfolio__container__items__item-content
                    .portfolio__container__items__item-text-block
                        .portfolio__name-block
                            h3.portfolio__name
                                | Für Flughäfen
                                svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                    path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                a.portfolio__link(href='./assets/images/news-2.png' data-fancybox="gallery")
                    img.portfolio__img(src='./assets/images/news-2.png' alt='')
                .portfolio__container__items__item-content
                    .portfolio__container__items__item-text-block
                        .portfolio__name-block
                            h3.portfolio__name
                                | Projektierter Zebrastreifen
                                svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                    path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                a.portfolio__link(href='./assets/images/news-3.png' data-fancybox="gallery")
                    img.portfolio__img(src='./assets/images/news-3.png' alt='')
                .portfolio__container__items__item-content
                    .portfolio__container__items__item-text-block
                        .portfolio__name-block
                            h3.portfolio__name
                                | Für Krankenhäuser
                                svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                    path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                a.portfolio__link(href='./assets/images/news-1.png' data-fancybox="gallery")
                    img.portfolio__img(src='./assets/images/news-1.png' alt='')
                .portfolio__container__items__item-content
                    .portfolio__container__items__item-text-block
                        .portfolio__name-block
                            h3.portfolio__name
                                | Für die Verwaltung
                                svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                    path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                a.portfolio__link(href='./assets/images/news-2.png' data-fancybox="gallery")
                    img.portfolio__img(src='./assets/images/news-2.png' alt='')
                .portfolio__container__items__item-content
                    .portfolio__container__items__item-text-block
                        .portfolio__name-block
                            h3.portfolio__name
                                | Für Flughäfen
                                svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                    path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                a.portfolio__link(href='./assets/images/news-2.png' data-fancybox="gallery")
                    img.portfolio__img(src='./assets/images/news-2.png' alt='')
                .portfolio__container__items__item-content
                    .portfolio__container__items__item-text-block
                        .portfolio__name-block
                            h3.portfolio__name
                                | Projektierter Zebrastreifen
                                svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                    path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                a.portfolio__link(href='./assets/images/news-3.png' data-fancybox="gallery")
                    img.portfolio__img(src='./assets/images/news-3.png' alt='')
                .portfolio__container__items__item-content
                    .portfolio__container__items__item-text-block
                        .portfolio__name-block
                            h3.portfolio__name
                                | Für Krankenhäuser
                                svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                    path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                a.portfolio__link(href='./assets/images/news-1.png' data-fancybox="gallery")
                    img.portfolio__img(src='./assets/images/news-1.png' alt='')
                .portfolio__container__items__item-content
                    .portfolio__container__items__item-text-block
                        .portfolio__name-block
                            h3.portfolio__name
                                | Für die Verwaltung
                                svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                    path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
            li.portfolio__container__items__item
                a.portfolio__link(href='./assets/images/news-2.png' data-fancybox="gallery")
                    img.portfolio__img(src='./assets/images/news-2.png' alt='')
                .portfolio__container__items__item-content
                    .portfolio__container__items__item-text-block
                        .portfolio__name-block
                            h3.portfolio__name
                                | Für Flughäfen
                                svg.portfolio__name_icon(viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5 15L15 5' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
                                    path(d='M6.875 5H15V13.125' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')