section#product-display.product-display.section
    .product-display__container.container
        .product-display__container__item
            .product-display__container__item-picture#product-picture
                img(src='@/assets/images/product-item.png' alt='Product')
            .product-display__container__item-content
                .product-display__container__item-content__info
                    h3.product-display__container__item-content__info__name#product-title GBP-1501
                    p.product-display__container__item-content__info__price#product-price 289,00 &euro;
                    .product-display__container__item-content__info__tags.hero-1__tags#product-tags
                        span.hero-1__tags-item.product-display__tag Innen
                    .product-display__container__item-content__info__actions#product-buttons
                        button.btn.btn-accent Unverbindlich Anfragen
                        button.btn.btn-gift 
                            img(src='@/assets/images/gift.svg')
                            span
                                | Einfarbiges Gobo als Geschenk
                ul.product-display__container__item-content__info__specs
                    li.product-display__container__item-content__info__specs__char
                        span.product-display__spec-name Abmessung, L/B/H:
                        span.product-display__spec-value 52 / 150-195 / 150 mm
                    li.product-display__container__item-content__info__specs__char
                        span.product-display__spec-name Gewicht:
                        span.product-display__spec-value 880 g
                    li.product-display__container__item-content__info__specs__char
                        span.product-display__spec-name Projektionsentfernung:
                        span.product-display__spec-value 2-10 m
                    li.product-display__container__item-content__info__specs__char
                        span.product-display__spec-name Bildrotation:
                        span.product-display__spec-value N/A
                    li.product-display__container__item-content__info__specs__char
                        span.product-display__spec-name Fernbedienung:
                        span.product-display__spec-value N/A
                    li.product-display__container__item-content__info__specs__char
                        span.product-display__spec-name Abmessung Standbild:
                        span.product-display__spec-value 37/23 mm
                    li.product-display__container__item-content__info__specs__char.more-info__acc__item
                        .more-info__acc__head
                            h3.more-info__acc__title Für mehr Informationen
                        button.more-info__trigger(type='button')
                            <svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 0.475877C0.5 0.354091 0.546041 0.232305 0.638865 0.139481C0.824514 -0.0461687 1.12527 -0.0461687 1.31092 0.139481L6.49944 5.32801L11.6887 0.139481C11.8744 -0.0461682 12.1751 -0.0461682 12.3608 0.139481C12.5464 0.32513 12.5464 0.625882 12.3608 0.811532L6.83584 6.33646C6.65019 6.5221 6.34944 6.5221 6.16379 6.33646L0.638865 0.811531C0.546041 0.719449 0.5 0.597663 0.5 0.475877Z" fill="#7C7D84"/>
                            </svg>
                        .more-info__acc__body.more-info__acc__body-closed
                            .more-info__acc__content
                                span.product-display__spec-name Abmessung Standbild:
                                span.product-display__spec-value 37/23 mm
                            .more-info__acc__content
                                span.product-display__spec-name LED Chip:
                                span.product-display__spec-value OSRAM
                            .more-info__acc__content
                                span.product-display__spec-name Lichtstrom:
                                span.product-display__spec-value 0 lm
                            .more-info__acc__content
                                span.product-display__spec-name Wasser- & Staubdicht:
                                span.product-display__spec-value IP65
                            .more-info__acc__content
                                span.product-display__spec-name Energieverbrauch:
                                span.product-display__spec-value 400 W
                            .more-info__acc__content
                                span.product-display__spec-name Gesamtlichtstrom:
                                span.product-display__spec-value -
                            .more-info__acc__content
                                span.product-display__spec-name Kühlung:
                                span.product-display__spec-value Lüfter
                            .more-info__acc__content
                                span.product-display__spec-name Betriebsspannung:
                                span.product-display__spec-value 85-265 V
