section#catalogue.catalogue.section
    .catalogue__container.container
        .catalogue__heading
            h3.catalogue__container__title
                | Gobo 
                span.text-accent
                    | Katalog
        ul.catalogue__container__list.swiper.catalogue-swiper
            .swiper-wrapper
                li.catalogue__container__list__item.swiper-slide.catalogue-swiper-slide
                    .catalogue__container__list__item-picture
                        img(src='./assets/images/catalogue-1.png')
                    .catalogue__container__list__item__content
                        h4.catalogue__container__list__item-title
                            span Profil-Scheinwerfer
                            a.catalogue__link(href='#')
                                svg.btn__icon(viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6')
                                    path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M8.25 6H18V15.75')
                        p.catalogue__container__list__item-price 102,00 &euro;
                li.catalogue__container__list__item.swiper-slide.catalogue-swiper-slide
                    .catalogue__container__list__item-picture
                        img(src='./assets/images/catalogue-2.png')
                    .catalogue__container__list__item__content
                        h4.catalogue__container__list__item-title
                            span Gobo-Halterung
                            a.catalogue__link(href='#')
                                svg.btn__icon(viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6')
                                    path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M8.25 6H18V15.75')
                        p.catalogue__container__list__item-price 157,00 &euro;
                li.catalogue__container__list__item.swiper-slide.catalogue-swiper-slide
                    .catalogue__container__list__item-picture
                        img(src='./assets/images/catalogue-3.png')
                    .catalogue__container__list__item__content
                        h4.catalogue__container__list__item-title
                            span Projektionsfl&auml;che
                            a.catalogue__link(href='#')
                                svg.btn__icon(viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6')
                                    path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M8.25 6H18V15.75')
                        p.catalogue__container__list__item-price 304,00 &euro;
        .swiper-btn-block.reviews__swiper-btn-block.product-list__swiper-btn-block
            button.swiper-btn.reviews-swiper-btn_prev.btn-arrow(type='button')
                svg(width='14' height='14' viewbox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M11.7137 7H2.28516' stroke='#475467' stroke-width='0.857143' stroke-linecap='round' stroke-linejoin='round')
                    path(d='M6.1423 3.14282L2.28516 6.99997L6.1423 10.8571' stroke='#475467' stroke-width='0.857143' stroke-linecap='round' stroke-linejoin='round')
            button.swiper-btn.reviews-swiper-btn_next.gallery-swiper-btn_next.btn-arrow(type='button')
                svg(width='14' height='14' viewbox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M2.28516 7H11.7137' stroke='#475467' stroke-width='0.857143' stroke-linecap='round' stroke-linejoin='round')
                    path(d='M7.85742 3.14282L11.7146 6.99997L7.85742 10.8571' stroke='#475467' stroke-width='0.857143' stroke-linecap='round' stroke-linejoin='round')

