section#product-detailed.product-detailed.section
    .product-detailed__title.container
        h2
            span.text-accent Gobo-Projektoren
            |  f&uuml;r Verkehrsschilder
    .product-detailed__container.container
        .product-detailed__container__item
            .product-detailed__container__item-details
                h3.product-detailed__container__item-details__title GBP-20004
                p.product-detailed__container__item-details__subtitle Maximale Helligkeit im Dunkeln
                .product-detailed__container__item-details__actions
                    button.btn.btn-accent Unverbindlich Anfragen
                    button.btn.btn-regular 
                        span Erkunden
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Icon">
                                <path id="Vector" d="M6 18.5L18 6.5" stroke="#6CEABD" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                <path id="Vector_2" d="M8.25 6.5H18V16.25" stroke="#6CEABD" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>
                .product-detailed__container__item-details__specs
                    .product-detailed__container__item-details__specs__prop
                        .product-detailed__container__item-details__specs__prop__pic
                            img(src='./assets/images/detail-1.svg' alt='Property')
                        span Fernbedienung
                    .product-detailed__container__item-details__specs__prop
                        .product-detailed__container__item-details__specs__prop__pic
                            img(src='./assets/images/detail-2.svg' alt='Property')
                        span 3 bis 7
                    .product-detailed__container__item-details__specs__prop
                        .product-detailed__container__item-details__specs__prop__pic
                            img(src='./assets/images/detail-3.svg' alt='Property')
                        span 48/30 mm
                    .product-detailed__container__item-details__specs__prop
                        .product-detailed__container__item-details__specs__prop__pic
                            img(src='./assets/images/detail-4.svg' alt='Property')
                        span IP65
                    .product-detailed__container__item-details__specs__prop
                        .product-detailed__container__item-details__specs__prop__pic
                            img(src='./assets/images/detail-5.svg' alt='Property')
                        span 5-200 m
                    .product-detailed__container__item-details__specs__prop
                        .product-detailed__container__item-details__specs__prop__pic
                            img(src='./assets/images/detail-6.svg' alt='Property')
                        span Einseitig
            .product-detailed__container__item-picture
                img(src='./assets/images/detailed-1.png' alt='Detailed product')
        .product-detailed__container__item
            .product-detailed__container__item-details
                h3.product-detailed__container__item-details__title GBP-20004
                p.product-detailed__container__item-details__subtitle Maximale Helligkeit im Dunkeln
                .product-detailed__container__item-details__actions
                    button.btn.btn-accent Unverbindlich Anfragen
                    button.btn.btn-regular 
                        span Erkunden
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Icon">
                                <path id="Vector" d="M6 18.5L18 6.5" stroke="#6CEABD" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                <path id="Vector_2" d="M8.25 6.5H18V16.25" stroke="#6CEABD" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>
                .product-detailed__container__item-details__specs
                    .product-detailed__container__item-details__specs__prop
                        .product-detailed__container__item-details__specs__prop__pic
                            img(src='./assets/images/detail-1.svg' alt='Property')
                        span Fernbedienung
                    .product-detailed__container__item-details__specs__prop
                        .product-detailed__container__item-details__specs__prop__pic
                            img(src='./assets/images/detail-2.svg' alt='Property')
                        span 3 bis 7
                    .product-detailed__container__item-details__specs__prop
                        .product-detailed__container__item-details__specs__prop__pic
                            img(src='./assets/images/detail-3.svg' alt='Property')
                        span 48/30 mm
                    .product-detailed__container__item-details__specs__prop
                        .product-detailed__container__item-details__specs__prop__pic
                            img(src='./assets/images/detail-4.svg' alt='Property')
                        span IP65
                    .product-detailed__container__item-details__specs__prop
                        .product-detailed__container__item-details__specs__prop__pic
                            img(src='./assets/images/detail-5.svg' alt='Property')
                        span 5-200 m
                    .product-detailed__container__item-details__specs__prop
                        .product-detailed__container__item-details__specs__prop__pic
                            img(src='./assets/images/detail-6.svg' alt='Property')
                        span Einseitig
            .product-detailed__container__item-picture
                img(src='./assets/images/detailed-2.png' alt='Detailed product')
        .product-detailed__container__item
            .product-detailed__container__item-details
                h3.product-detailed__container__item-details__title GBP-20004
                p.product-detailed__container__item-details__subtitle Maximale Helligkeit im Dunkeln
                .product-detailed__container__item-details__actions
                    button.btn.btn-accent Unverbindlich Anfragen
                    button.btn.btn-regular 
                        span Erkunden
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Icon">
                                <path id="Vector" d="M6 18.5L18 6.5" stroke="#6CEABD" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                <path id="Vector_2" d="M8.25 6.5H18V16.25" stroke="#6CEABD" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>
                .product-detailed__container__item-details__specs
                    .product-detailed__container__item-details__specs__prop
                        .product-detailed__container__item-details__specs__prop__pic
                            img(src='./assets/images/detail-1.svg' alt='Property')
                        span Fernbedienung
                    .product-detailed__container__item-details__specs__prop
                        .product-detailed__container__item-details__specs__prop__pic
                            img(src='./assets/images/detail-2.svg' alt='Property')
                        span 3 bis 7
                    .product-detailed__container__item-details__specs__prop
                        .product-detailed__container__item-details__specs__prop__pic
                            img(src='./assets/images/detail-3.svg' alt='Property')
                        span 48/30 mm
                    .product-detailed__container__item-details__specs__prop
                        .product-detailed__container__item-details__specs__prop__pic
                            img(src='./assets/images/detail-4.svg' alt='Property')
                        span IP65
                    .product-detailed__container__item-details__specs__prop
                        .product-detailed__container__item-details__specs__prop__pic
                            img(src='./assets/images/detail-5.svg' alt='Property')
                        span 5-200 m
                    .product-detailed__container__item-details__specs__prop
                        .product-detailed__container__item-details__specs__prop__pic
                            img(src='./assets/images/detail-6.svg' alt='Property')
                        span Einseitig
            .product-detailed__container__item-picture
                img(src='./assets/images/detailed-3.png' alt='Detailed product')
    .product-detailed__container__mobile.container.detailed-swiper 
        .swiper-wrapper 
            .product-detailed__container__mobile__item.swiper-slide.detailed-slide
                .product-detailed__container__mobile__item-content 
                    .product-detailed__container__mobile__item-info
                        h3.product-detailed__container__mobile__item-info__title 
                            | GBP-40008
                        p.product-detailed__container__mobile__item-info__subtitle 
                            | Maximale Helligkeit im Dunkeln
                    .product-detailed__container__mobile__item-actions
                        button.btn.btn-accent Unverbindlich Anfragen
                        a.product-detailed__container__mobile__item-actions__link 
                            button.btn.btn-regular
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Icon">
                                        <path id="Vector" d="M6 18.5L18 6.5" stroke="#6CEABD" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path id="Vector_2" d="M8.25 6.5H18V16.25" stroke="#6CEABD" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                    </g>
                                </svg>
            .product-detailed__container__mobile__item.swiper-slide.detailed-slide
                .product-detailed__container__mobile__item-content 
                    .product-detailed__container__mobile__item-info
                        h3.product-detailed__container__mobile__item-info__title 
                            | GBP-40008
                        p.product-detailed__container__mobile__item-info__subtitle 
                            | Maximale Helligkeit im Dunkeln
                    .product-detailed__container__mobile__item-actions
                        button.btn.btn-accent Unverbindlich Anfragen 
                            a.product-detailed__container__mobile__item-actions__link 
                                button.btn.btn-regular
                                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g id="Icon">
                                            <path id="Vector" d="M6 18.5L18 6.5" stroke="#6CEABD" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path id="Vector_2" d="M8.25 6.5H18V16.25" stroke="#6CEABD" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                        </g>
                                    </svg>
            .product-detailed__container__mobile__item.swiper-slide.detailed-slide
                .product-detailed__container__mobile__item-content 
                    .product-detailed__container__mobile__item-info
                        h3.product-detailed__container__mobile__item-info__title 
                            | GBP-40008
                        p.product-detailed__container__mobile__item-info__subtitle 
                            | Maximale Helligkeit im Dunkeln
                    .product-detailed__container__mobile__item-actions
                        button.btn.btn-accent Unverbindlich Anfragen 
                            a.product-detailed__container__mobile__item-actions__link 
                                button.btn.btn-regular
                                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g id="Icon">
                                            <path id="Vector" d="M6 18.5L18 6.5" stroke="#6CEABD" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path id="Vector_2" d="M8.25 6.5H18V16.25" stroke="#6CEABD" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                        </g>
                                    </svg>
