section#products.products.section
    .products__container.container
        h1.products__container__title Produkte
        .products__container__category
            .category-switch#category-switch
                a.layer__item.category-active Projektoren
                a.layer__item Gobo
        .products__container__mobile-filter 
            img(src='@/assets/images/filter-icon.svg')
            | Filter
        .products__container__filters
            .select-box(data-default="Serie")
                span.select-active
                    img.select-image(src='@/assets/images/X.svg')
                .options-container
                    .option
                        input#gbp.radio(type='radio' name='series')
                        label(for='gbp') 
                            | GBP-Serie
                    .option
                        input#mh.radio(type='radio' name='series')
                        label(for='mh') 
                            | MH-Serie
                    .option
                        input#x.radio(type='radio' name='series')
                        label(for='x') 
                            | X-Serie
                .selected
                    | Serie
            .select-box(data-default="Remote")
                span.select-active
                    img.select-image(src='@/assets/images/X.svg')
                .options-container
                    .option
                        input#yes.radio(type='radio' name='remote')
                        label(for='yes') 
                            | Ja
                    .option
                        input#no.radio(type='radio' name='remote')
                        label(for='no') 
                            | Nein
                .selected
                    | Fernbedienung
            .select-box(data-default="Changer")
                span.select-active
                    img.select-image(src='@/assets/images/X.svg')
                .options-container
                    .option
                        input#film.radio(type='radio' name='changer')
                        label(for='3') 
                            | 3
                    .option
                        input#science.radio(type='radio' name='changer')
                        label(for='4') 
                            | 4
                .selected
                    | Gobo-Wechsler
            .select-box(data-default="Distance")
                span.select-active
                    img.select-image(src='@/assets/images/X.svg')
                .options-container
                    .option
                        input#film.radio(type='radio' name='distance')
                        label(for='2') 
                            | 2 metres
                    .option
                        input#science.radio(type='radio' name='distance')
                        label(for='5') 
                            | 5 metres
                    .option
                        input#science.radio(type='radio' name='distance')
                        label(for='10') 
                            | 10 metres
                .selected
                    | Projektionsentfernung
            .select-box(data-default="Rotation")
                span.select-active
                    img.select-image(src='@/assets/images/X.svg')
                .options-container
                    .option
                        input#film.radio(type='radio' name='rotation')
                        label(for='90') 
                            | 90 degrees
                    .option
                        input#science.radio(type='radio' name='rotation')
                        label(for='180')
                            | 180 degrees
                    .option
                        input#science.radio(type='radio' name='rotation')
                        label(for='360') 
                            | 360 degrees

                .selected
                    | Bildrotation
        ul.catalogue__container__list.products__container__list
            li.catalogue__container__list__item.products__container__list__item
                .catalogue__container__list__item-picture
                    img(src='./assets/images/catalogue-1.png')
                .catalogue__container__list__item__content.products__container__list__item__content
                    h4.catalogue__container__list__item-title
                        span Profil-Scheinwerfer
                        a.catalogue__link(href='#')
                            svg.btn__icon(viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6')
                                path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M8.25 6H18V15.75')
                    p.catalogue__container__list__item-price 102,00 &euro;
            li.catalogue__container__list__item.products__container__list__item
                .catalogue__container__list__item-picture
                    img(src='./assets/images/catalogue-2.png')
                .catalogue__container__list__item__content.products__container__list__item__content
                    h4.catalogue__container__list__item-title
                        span Gobo-Halterung
                        a.catalogue__link(href='#')
                            svg.btn__icon(viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6')
                                path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M8.25 6H18V15.75')
                    p.catalogue__container__list__item-price 157,00 &euro;
            li.catalogue__container__list__item.products__container__list__item
                .catalogue__container__list__item-picture
                    img(src='./assets/images/catalogue-3.png')
                .catalogue__container__list__item__content.products__container__list__item__content
                    h4.catalogue__container__list__item-title
                        span Projektionsfl&auml;che
                        a.catalogue__link(href='#')
                            svg.btn__icon(viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6')
                                path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M8.25 6H18V15.75')
                    p.catalogue__container__list__item-price 304,00 &euro;
        ul.catalogue__container__list.products__container__list.products__container__list-projectors
            li.catalogue__container__list__item.products__container__list__item
                .catalogue__container__list__item-picture-projectors
                    img(src='@/assets/images/product-item-1.png')
                    .catalogue__container__list__item-picture-projectors__specs
                        .catalogue__container__list__item-picture-projectors__specs__item
                            img(src="@/assets/images/detail-1.svg")
                            span Fernbedienung
                        .catalogue__container__list__item-picture-projectors__specs__item
                            img(src="@/assets/images/detail-2.svg")
                            span 3 bis 7
                        .catalogue__container__list__item-picture-projectors__specs__item
                            img(src="@/assets/images/detail-3.svg")
                            span 48/30 mm
                        .catalogue__container__list__item-picture-projectors__specs__item
                            img(src="@/assets/images/detail-4.svg")
                            span IP65
                        .catalogue__container__list__item-picture-projectors__specs__item
                            img(src="@/assets/images/detail-5.svg")
                            span 10-500 m
                        .catalogue__container__list__item-picture-projectors__specs__item
                            img(src="@/assets/images/detail-6.svg")
                            span Einseitig
                .catalogue__container__list__item__content.products__container__list__item__content
                    h4.catalogue__container__list__item-title
                        span Profil-Scheinwerfer
                        a.catalogue__link(href='#')
                            svg.btn__icon(viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6')
                                path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M8.25 6H18V15.75')
                    p.catalogue__container__list__item-price 102,00 &euro;
            li.catalogue__container__list__item.products__container__list__item
                .catalogue__container__list__item-picture-projectors
                    img(src='@/assets/images/product-item-2.png')
                    .catalogue__container__list__item-picture-projectors__specs
                        .catalogue__container__list__item-picture-projectors__specs__item
                            img(src="@/assets/images/detail-1.svg")
                            span Fernbedienung
                        .catalogue__container__list__item-picture-projectors__specs__item
                            img(src="@/assets/images/detail-2.svg")
                            span 3 bis 7
                        .catalogue__container__list__item-picture-projectors__specs__item
                            img(src="@/assets/images/detail-3.svg")
                            span 48/30 mm
                        .catalogue__container__list__item-picture-projectors__specs__item
                            img(src="@/assets/images/detail-4.svg")
                            span IP65
                        .catalogue__container__list__item-picture-projectors__specs__item
                            img(src="@/assets/images/detail-5.svg")
                            span 10-500 m
                        .catalogue__container__list__item-picture-projectors__specs__item
                            img(src="@/assets/images/detail-6.svg")
                            span Einseitig
                .catalogue__container__list__item__content.products__container__list__item__content
                    h4.catalogue__container__list__item-title
                        span Profil-Scheinwerfer
                        a.catalogue__link(href='#')
                            svg.btn__icon(viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6')
                                path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M8.25 6H18V15.75')
                    p.catalogue__container__list__item-price 102,00 &euro;
            li.catalogue__container__list__item.products__container__list__item
                .catalogue__container__list__item-picture-projectors
                    img(src='@/assets/images/product-item-3.png')
                    .catalogue__container__list__item-picture-projectors__specs
                        .catalogue__container__list__item-picture-projectors__specs__item
                            img(src="@/assets/images/detail-1.svg")
                            span Fernbedienung
                        .catalogue__container__list__item-picture-projectors__specs__item
                            img(src="@/assets/images/detail-2.svg")
                            span 3 bis 7
                        .catalogue__container__list__item-picture-projectors__specs__item
                            img(src="@/assets/images/detail-3.svg")
                            span 48/30 mm
                        .catalogue__container__list__item-picture-projectors__specs__item
                            img(src="@/assets/images/detail-4.svg")
                            span IP65
                        .catalogue__container__list__item-picture-projectors__specs__item
                            img(src="@/assets/images/detail-5.svg")
                            span 10-500 m
                        .catalogue__container__list__item-picture-projectors__specs__item
                            img(src="@/assets/images/detail-6.svg")
                            span Einseitig
                .catalogue__container__list__item__content.products__container__list__item__content
                    h4.catalogue__container__list__item-title
                        span Profil-Scheinwerfer
                        a.catalogue__link(href='#')
                            svg.btn__icon(viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6')
                                path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M8.25 6H18V15.75')
                    p.catalogue__container__list__item-price 102,00 &euro;
        .catalogue__more
            button.btn.catalogue__more__products.btn-regular Mehr anzeigen
