section#requirements.requirements.section
    .requirements__container.container
        .requirements__heading
            h3.requirements__container__title
                | F&uuml;r eine effektive Gobo-Darstellung werden 
                span.text-accent
                    | einige spezifische Elemente
                    | ben&ouml;tigt:
        ul.requirements__container__list
            li.requirements__container__list__item
                .requirements__container__list__item-picture
                    img(src='./assets/images/requirements-1.png')
                    .requirements__container__list__item-picture__number 1
                h4.requirements__container__list__item-title Profil-Scheinwerfer
                p.requirements__container__list__item-desc
                    | Ein Profillicht, das einen Gobo in seinem Lichtweg aufnehmen kann, ist erforderlich, um den Gobo zu
                    | fokussieren und zu zoomen
            li.requirements__container__list__item
                .requirements__container__list__item-picture
                    img(src='./assets/images/requirements-2.png')
                    .requirements__container__list__item-picture__number 2
                h4.requirements__container__list__item-title Gobo-Halterung
                p.requirements__container__list__item-desc
                    | Ein spezielles Zubeh&ouml;r, das den Gobo an Ort und Stelle h&auml;lt, ist erforderlich, um ihn in den
                    | Profil-Scheinwerfer einzusetzen
            li.requirements__container__list__item
                .requirements__container__list__item-picture
                    img(src='./assets/images/requirements-3.png')
                    .requirements__container__list__item-picture__number 3
                h4.requirements__container__list__item-title Projektionsfl&auml;che
                p.requirements__container__list__item-desc
                    | Eine dedizierte Fl&auml;che wie eine Wand, auf die der
                    | Gobo projiziert wird, ist erforderlich
