section.singular-news.section
    .singular-news__container.container
        .singular-news__top
            p.singular-news__top__date 22 Mai 2023
            h2.singular-news__top__title Gobo-Projektoren – Lichtprojektionen für Werbung, Bekanntmachungen, Glückwünsche und viel mehr
            .singular-news__top__picture 
                img(src="@/assets/images/singular-news.png" alt="")
        .singular-news__bottom 
            .singular-news__bottom__content
                p.singular-news__bottom__content-desc Gobo-Projektoren verbinden die Eleganz und Leichtigkeit von Projektoren für das zielgerichtete und wirkungsvolle Kommunizieren Ihrer Botschaft. Mit unseren Projektoren werden Sie gesehen, können sich von der Konkurrenz abheben und erzeugen Aufmerksamkeit. Lichtprojektionen fallen zu jeder Jahreszeit auf, sind kostengünstiger als teure Lichttafeln und flexibel in der Ausgestaltung.
                    | Die Projektoren von GoBoPro.de bieten zahlreiche Vorteile und überzeugen durch technische Raffinesse sowie eine einfache Anwendung.
                a.singular-news__bottom__content-title Was sind Gobo-Projektoren?
                p.singular-news__bottom__content-desc Gobo-Projektoren sind leistungsstarke Lichtstrahler, die Bilder auf alle erdenklichen Oberflächen projizieren können. Vorher festgelegte Bilder werden auf ein Glas gelasert und können im Anschluss in unserem Projektor eingesetzt werden. Dieser projiziert das Bild dann auf eine Oberfläche. Durch die starke Leuchtkraft unserer Projektoren, die Wetterbeständigkeit und die einfache Montage & Inbetriebnahme sind unsere Projektoren herkömmlichen Kommunikationsmitteln deutlich überlegen.
                a.singular-news__bottom__content-title Wer braucht Gobo-Projektoren?
                p.singular-news__bottom__content-desc Gobo-Projektoren werden von alle denen gebraucht, die etwas zu sagen haben. Die sicherstellen wollen, dass ihre Nachricht und Botschaft gehört wird. Die auffallen wollen und die im Gedächtnis von Passanten, Interessenten und potenziellen Geschäftspartnerinnen bleiben möchten. Die Lichtprojektoren von GoboPro haben sich zu einem effektiven Kommunikationsmittel etabliert, das unabhängig vom Wetter oder Lichtverhältnissen funktioniert.
                    | Nutzen Sie farbenfrohes und helles Licht auf Fußböden, an Hauswänden oder an anderen Stellen, um Ihre Nachricht zu vermitteln. Dabei ist die Wirkung völlig unabhängig davon, was Ihre Nachricht ist. Mit unseren leistungsstarken Projektoren können Sie Werbung schalten, Warnsymbole einblenden, Glückwünsche bekanntgeben oder auf Rabatte und Aktionen aufmerksam machen. Die Gobo-Projektoren können ebenso vielfältig wie flexibel eingesetzt werden und besitzen viele Vorteile gegenüber herkömmlichen Werbeplakaten.
                a.singular-news__bottom__content-title Welche Vorteile bringen Gobo-Projektoren gegenüber anderen Werbemethoden?
                p.singular-news__bottom__content-desc Die Gobo-Projektoren sind mit einer Reihe von Vorzügen ausgestattet.
                    | Zum Ersten sind Sie im Vergleich zu bekannten Werbeplakaten oder -postern relativ kostengünstig. Sie benötigen keine behördliche Anmeldung für die Bestrahlung einzelner Objekte und müssen zudem keine Werbeflächen kaufen. Das spart Zeit, Nerven und freut den Geldbeutel. Gerade für kleinere Betriebe können die Gobo-Projektoren ein echtes Highlight sein.
                    | Zweitens sind unsere Projektoren sehr leistungsstark und liefern so helles, gleichmäßiges Licht, sodass das Bild nachts, im Winter oder bei Regen gut gesehen werden kann. Auch sonniges Tageslicht ist für unsere Projektoren kein Problem.
                    | Drittens sind unsere Projektoren flexibel benutzbar. Sie möchten die Bilder immer nur abends anzeigen lassen? Oder nur aller zwei Tage in einem bestimmten Zeitraum? Das ist kein Problem dank der innovativen Fernbedienung, mit der sich unsere Projektoren sehr einfach und bequem steuern lassen. So müssen Sie sich nicht jedes Mal zum Projektor bewegen.
                    | Viertens sind unsere Projektoren auf Nachhaltigkeit und Langfristigkeit ausgelegt. Bei anderen Projektoren wird die kleine Platte, auf die das Bild gelasert wird, häufig aus Plastik oder Metall hergestellt. Plastik hat den sehr großen Nachteil, dass es mit der Zeit durch die kontinuierliche Bestrahlung verzieht und so das Bild nach einiger Zeit ausgewechselt werden muss. Das verschwendet Ressourcen und ist unnötig teuer.
                    | tallscheiben haben den großen Nachteil, dass sie nur schwarz-weiß abbilden können. Das schränkt den Raum der verfügbaren Bilder extrem ein und sorgt so für sehr wenig Flexibilität in der Projektion.
                    | Wir verwenden in unseren Projektoren ausschließlich Glas. Dieses ist hitzebeständig, lichtbeständig und kann auch noch nach Jahren der Anschaffung genau wie am ersten Tag strahlen und leuchten. Zudem kann jede einzelne Farbe abgebildet werden. Glasbilder sind also sowohl den Plastik- als auch den Metallbildern überlegen.
                a.singular-news__bottom__content-title Anwendungsbeispiele für unsere Projektoren
                p.singular-news__bottom__content-desc Stellen Sie sich vor, Sie besitzen eine Fabrik oder eine Produktionshalle und aufgrund von neuen Auflagen sind Sie nun dazu angehalten wurden, neue Warnschilder anzubringen. Sie möchten den wertvollen Boden Ihrer Produktionshalle jedoch nicht bemalen. Hier kommen unsere Gobo-Projektoren ins Spiel. Einfach montiert, können Sie durch Lichtprojektionen die Warnsymbole sehr einfach und unkompliziert auf den Boden strahlen lassen. Hell, farbecht und nachhaltig sind unsere Projektoren die echte Alternative zu Postern oder Warnschildern. Sie schalten den Fabrikbetrieb nach einiger Zeit ab? Kein Problem, Sie können auch unsere Projektoren bequem & komfortabel per Fernbedienung abschalten.
                    | Für ein zweiten Anwendungsbeispiel stellen Sie sich vor, Sie wären Besitzer oder Besitzerin eines Juweliergeschäfts in einer Mall, umgeben von anderen Geschäften. Sie suchen nach einer Möglichkeit, zwischen all den anderen Geschäften aufzufallen. Werbeplakate und Poster verfehlen Ihre Wirkung, weil alle anderen Geschäfte ebenfalls Poster verwenden. Ihre Poster würden in der Masse einfach untergehen. Auch hier sind unsere Gobo-Projektoren hilfreich. Strahlen Sie den Fußboden vor Ihrem Geschäft mit Ihrem Logo oder Angeboten farbig an und erzeugen Sie so viel mehr Aufmerksamkeit, als durch ein einfaches Plakat denkbar wäre. Unsere Projektoren bieten damit auch eine großartige Werbemöglichkeit.
                a.singular-news__bottom__content-title Haben Sie Interesse?
                p.singular-news__bottom__content-desc Dann würden wir uns über eine Kontaktanfrage freuen. Wir bearbeiten jede Anfrage individuell, weil die Situationen, zu bestrahlenden Untergründe und Verwendungszwecke meist sehr verschieden sind. In einem Gespräch oder auch schriftlich per Mail können wir Ihnen mit unserer langjährigen Expertise ein auf Sie zurechtgeschnittenes Angebot bieten.
            .singular-news__bottom__nav
                h4.singular-news__bottom__nav__title Inhaltsverzeichnis
                ul.singular-news__bottom__nav__links 
                    li.singular-news__bottom__nav__links__item 
                        a.singular-news__bottom__nav__links__item__link(href="") Was sind Gobo-Projektoren?
                    li.singular-news__bottom__nav__links__item 
                        a.singular-news__bottom__nav__links__item__link(href="") Wer braucht Gobo-Projektoren?
                    li.singular-news__bottom__nav__links__item 
                        a.singular-news__bottom__nav__links__item__link(href="") Welche Vorteile bringen Gobo-Projektoren gegenüber anderen Werbemethoden?
                    li.singular-news__bottom__nav__links__item 
                        a.singular-news__bottom__nav__links__item__link(href="") Anwendungsbeispiele für unsere Projektoren
                    li.singular-news__bottom__nav__links__item 
                        a.singular-news__bottom__nav__links__item__link(href="") Haben Sie Interesse?

