.sticky-widget 
    .sticky-widget__item
        a.sticky-widget__item__link(href="tel:+4973039403952")
            img(src="@/assets/images/sticky-1.svg" alt="phone")
    .sticky-widget__item
        a.sticky-widget__item__link(href="mailto:info@gobopro.de")
            img(src="@/assets/images/sticky-2.svg" alt="email")
    .sticky-widget__item
        a.sticky-widget__item__link(href="#")
            img(src="@/assets/images/sticky-3.svg" alt="chat")
    .sticky-widget__item
        a.sticky-widget__item__link(href="#")
            img(src="@/assets/images/sticky-4.svg" alt="favorite")