section#text-block.text-block.section
    .text-block__container.container
        h3.text-block__container__title
            span.text-accent Die Zukunft
            |  ist hier
        .text-block__container-content
            p.text-block__container-content__info
                | Bisher wurden Goboprojektoren nur von Fachleuten aus den Bereichen Showbusiness, Design, Werbung und mehr
                | verwendet. Ein professioneller Goboprojektor war teuer in Anschaffung, Betrieb und Wartung. Gleichzeitig
                | war die Lebensdauer solcher Lichtquellen kurz. Ein schwerwiegender Nachteil von Projektoren war auch die
                | Unf&auml;higkeit, sie bei Regen und niedrigen Temperaturen im Freien zu verwenden.
            p.text-block__container-content__info
                | Der massive Einsatz von LEDs und deren Verbesserung, neue Technologien bei der Herstellung von Gobodias
                | und der Fortschritt auf dem Gebiet der Aluminiumlegierungen erm&ouml;glichen es uns, Goboprojektoren
                | herzustellen, die nicht nur erschwinglich sind, sondern ihre Vorfahren in Bezug auf Lebensdauer, Gr&ouml;&szlig;e,
                | Gewicht und Sicherheit &uuml;bertreffen. Somit ist der Schutz vor Feuchtigkeit und Staub und vor allem - die
                | Qualit&auml;t des projizierten Bildes gegeben.
