section.thanks-1.section.block
    .container.thanks-1__container 
        .thanks-1__content
            .thanks-1__icon-block
                svg.thanks-1__icon(viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M37.5 50.0013L45.8333 58.3346L62.5 41.668" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round")
                    rect(x="10.3359" y="10.334" width="79.3333" height="79.3333" rx="27.3125" stroke="currentColor" stroke-width="4")
            h2.thanks-1__title  Your application has been successfully submitted!
            p.thanks-1__desc Our manager will contact you shortly.
            button.thanks-1__btn.btn.btn-regular(type="button") Got it
