section#video.video.section
    .video__container.container
        h3.video__container__title
            | Sorgen Sie&nbsp; 
            span.text-accent
                | für Ordnung im Unternehmen
        video.video__player(controls)
            source(src='@/assets/resources/gobo.mp4' type='video/mp4')
        .catalogue__more
            button.btn.catalogue__more__products Gobo Katalog