section#video.video.section
    .video__container.container
        .video__container__title
            | Sorgen Sie
            span.text-accent &nbsp;f&uuml;r Ordnung im Unternehmen
        video.video__player(controls)
            source(src='@/assets/resources/gobo.mp4' type='video/mp4')
