// Utils
@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;


.swiper-btn-block {
    display: flex;
    gap: 12px;
    margin-top: 16px;
    margin-left: 10px;
}

.swiper-btn {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--clr-light);
}


@media (min-width: vars.$lg) {

    .partners-swiper,
    .blog-swiper,
    .benefits-swiper,
    .swiper-scrollbar,
    .swiper-scrollbar-drag {
        display: none;
    }
}

@media (max-width: vars.$lg) {

    .partners-swiper {
        display: block;
        width: 100%;
        margin-block: 24px 32px;
    }

    .partners-swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .swiper-scrollbar {
        display: block;
        background-color: var(--clr-light);
        height: 4px;
        border-radius: 2px;
    }

    .swiper-scrollbar-drag {
        display: block;
        height: 100%;
        background-color: var(--clr-white);
    }
}